/* 
 * ----------------
 * Template: Germania 2015
 * Für meine liebe Germania 2015
 * Von : Marc Ernst
 * Firma : SkyIT Webdesign Darmstadt
 * Erstellt: 25.7.2015
 * ----------------
 * Version 0.1.0
 * ----------------
 */

@import "compass/reset";
@import "gridle/gridle";

@import "include/variables";
@import "include/classes";

@import "include/shadows";

@import "include/layout";
@import "include/fonts";
@import "include/mainmenu";
@import "include/othermenus";
@import "include/slider";
@import "include/fixedelements";
@import "include/scrollup";


html, body {
  font-family: "OpenSans", Arial, sans-serif;
  height: auto;
}

// GRIDLE SETTINGS
$settings : (
  context : 12,
  gutter-width : 20px,
  direction : ltr );
  
@include gridle_setup($settings);

@include gridle_register_state ( mobile , (
  max-width : 959px,
  gutter-width : 0px
) );

// clear each classes :
@include gridle_register_clear_each(2, left);
@include gridle_register_clear_each(12, both);

@include gridle_register_column( '5on18' , 5, 18 );
//@include gridle_register_column( '7on24' , 7, 24 );

// register states :

@include gridle_generate_classes();
