/*  ---------------- Template: Germania 2015 Fuer meine liebe Germania 2015 Von : Marc Ernst Firma : SkyIT Webdesign Darmstadt Erstellt: 25.7.2015 ---------------- Version 0.5.1 ---------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

.container:after { content: ""; display: table; clear: both; }

.parent:before, .parent-mobile:before, .parent:after, .parent-mobile:after { content: ""; display: table; }
.parent:after, .parent-mobile:after { clear: both; }
.parent, .parent-mobile { zoom: 1; }

.push-5on18, .push-0, .push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-mobile-5on18, .push-mobile-0, .push-mobile-1, .push-mobile-2, .push-mobile-3, .push-mobile-4, .push-mobile-5, .push-mobile-6, .push-mobile-7, .push-mobile-8, .push-mobile-9, .push-mobile-10, .push-mobile-11, .push-mobile-12, .pull-5on18, .pull-0, .pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-mobile-5on18, .pull-mobile-0, .pull-mobile-1, .pull-mobile-2, .pull-mobile-3, .pull-mobile-4, .pull-mobile-5, .pull-mobile-6, .pull-mobile-7, .pull-mobile-8, .pull-mobile-9, .pull-mobile-10, .pull-mobile-11, .pull-mobile-12 { position: relative; }

.container { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.parent, .parent-mobile { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.grid-5on18, .grid-0, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-mobile-5on18, .grid-mobile-0, .grid-mobile-1, .grid-mobile-2, .grid-mobile-3, .grid-mobile-4, .grid-mobile-5, .grid-mobile-6, .grid-mobile-7, .grid-mobile-8, .grid-mobile-9, .grid-mobile-10, .grid-mobile-11, .grid-mobile-12 { display: inline-block; min-height: 1px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/** Str replace  @param {string}  $string    String that you want to replace @param {string}  $substr    String that is to be replaced by `$newsubstr` @param {string}  $newsubstr String that replaces `$substr` @param {number*} $all       Flag for replaceing all (1+) or not (0) @return {string} */
/** Map set  @param 	Map 	$map 		The map to use @param 	String 	$key 		The key to update @param 	Mixed 	$value 		The new value @return 	Map 			The new map */
/** Get the column width in percent for the global or a specific context  @param 	int 		$columns 					The number of columns to calculate @param 	int 		$context : $gridle-columns-count 	 	The context to use @return 	percentage 							The width in percent */
/** Get a state map  @param 	string 		$name 		The name of the state to get @return 	map 				A state map object */
/** Check if a state exist :  @param 	string 		$name 		The name of the state to check @return 	Boolean 			true is exist */
/** Get the media queries variables :  @param 	int 		$index 	 	The media query indes @param 	String 		$var 		The media query variable name @return 	String|int 			The variable value */
/** Get a variable  @param 	String 		$varName 				The variable name @param  	String 		$stateMap-or-stateName 	 	The state name or a map state value @return 	Mixed 							The finded value */
/** Set a variable in a state @param 	Mixed $stateName-or-stateIndex 	The state name of state index @param  	String $var                    		Variable name to assign @param  	Mixed $newValue          		The new value to assign @return 	List                         			The states list (full) */
/** Generate a column  @param 	String 		$name 			The column name (often count) @param 	int 		$columns 		The column count that the column will take @param 	int 		$context 		The context on witch the with will be calculed @param 	Boolean 	$generateClasses 	Set if the column has to be generated in css */
/** Generate classname  @param 	List 		$parrern 	The pattern to use to generate classname @param 	String 		$state 		The state @param 	int 		$count 		The column count */
/** Get the media query for a particular state, or with, etc...  @param 	Mixed 		$state-or-min-width 		The state name of the min with @param 	Mixed 		$max-width 			The max width if first param is a min width @return 	String 						The media query string without the @media */
/** Get states count  @return 	int 	The number of states defined */
/** Setup */
/** Register a clear each class */
/** Register a special class */
/** Register default states */
/** Register default mobile first states : */
/** Set the debug device (not used for now)  @param 	String 		$state 		The state to update @para m 	String 		$device 	The device to use (iphone, etc...) */
/** Parent clear each */
/** Vertical align : */
/** Show inline  @param 	String 		$state 		The state name */
/** Generate a custom class for all the states  @param 	list 	$pattern 		The name pattern of the class @param 	list 	$statesNames 		The states names to generate */
/** Class Definitions - Reusables */
.floatl { float: left; }

.tacenter, .align-center { text-align: center !important; }

.tajustify { text-align: justify; }

.hidden { display: none !important; }

.xtra-70px { margin-bottom: 70px !important; }

.clearfix:after { content: "."; clear: both; display: block; visibility: hidden; height: 0px; }

.stdmargin-bot { margin-bottom: 20px; }

.stdmargin-top { margin-top: 20px; }

.galleryfix { margin-right: 10px !important; }

/* General Layout */
.container { margin: 0 auto; }
@media (min-width: 960px) { .container { width: 960px; } }
@media (max-width: 959px) { .container { width: 100%; } }

/** Youtube iframe */
@media (min-width: 960px) { .content_right iframe, .content_right .inner_cbQuickGoogleMap { width: 700px !important; height: 450px !important; } }
@media (max-width: 959px) { .content_right iframe, .content_right .inner_cbQuickGoogleMap { width: 100% !important; height: auto; } }

/** Top Definitions */
.top { height: 40px; line-height: 40px; background: #555555; color: white; font-size: 0.9em; }
@media (max-width: 959px) { .top { display: none; } }

.top a, .footer a { text-decoration: underline; color: white; }

.top i.fa { font-size: 1em; margin-right: 5px; }

.top span.phone { margin-right: 20px; }

.top_right { text-align: right; }

.top_mid { position: relative; }

.addthis_sharing_toolbox { position: absolute; top: 10px; height: 20px !important; }

.at4-icon { top: -5px; position: relative; }

/** Footer Definitions */
.footer { height: 40px; line-height: 40px; background: #555555; color: white; }
@media (min-width: 960px) { .footer { height: 40px; line-height: 40px; font-size: 0.9em; } }
@media (max-width: 959px) { .footer { height: 80px; line-height: 40px; font-size: 0.8em; } }

@media screen and (max-width: 470px) { span.hide-phone { display: none; } }

.footer i.fa { font-size: 1em; margin-right: 5px; }

.footer_left, .footer_right { height: 40px; }

@media (min-width: 960px) { .footer_right { text-align: right; } }

/** Menu Definitions */
.menu { height: 100px; background: white; }

.menu_right { position: relative; }

.menu_right img { position: absolute; right: 10px; width: 235px; height: 80px; padding: 10px 0; }
@media screen and (max-width: 350px) { .menu_right img { width: 188px; height: 64px; padding: 18px 0; } }

/**  2 Spaltiges Layout */
@media (min-width: 960px) { .col2_left, .col2_right { width: 47.5%; float: left; }
  .col2_left { padding-right: 2.5%; }
  .col2_right { padding-left: 2.5%; } }
@media (max-width: 959px) { .col2_left { margin-bottom: 20px; } }
/** Slider Definitions */
.slider { background: url("../images/Das_Haus_online.jpg") no-repeat center center; background-size: cover; }
@media (min-width: 960px) { .slider { height: 500px; } }
@media (max-width: 959px) { .slider { height: 350px; } }

/**  Zirkel Background */
.zirkel { position: relative; display: block; z-index: 1; background: url("../images/zirkel_trans10.png") no-repeat top center; }

/** Titlebar Definitions */
.titlebar { height: 120px; color: white; background: url("../images/Das_Haus_online.jpg") no-repeat center bottom; background-size: cover; }

/**  Title Bar Effects */
.titlebar h1 { padding: 10px; position: absolute; top: 35px; right: 0px; margin: 0 10px !important; display: inline-block; background-color: rgba(51, 51, 51, 0.75); transition: all 1.0; }
.titlebar p { padding: 10px; display: inline-block; background-color: rgba(51, 51, 51, 0.75); }

.titlebar > div { position: relative; }

@media (max-width: 490px) { .titlebar h1 { font-size: 1.2em; top: 20px !important; } }
/**  Slider unten */
.imagebar { background: #333; width: 100%; position: relative; border-top: 3px solid #333; border-bottom: 3px solid #333; }

/** Shortcode Definitions */
.shortcodes { padding: 40px 0; background: rgba(155, 155, 155, 0.5); }

.shortcodes p a { letter-spacing: 0.02em; transition: all 0.2s; }
.shortcodes p a:hover { letter-spacing: 0.05em; }

.shortcodes > div { position: relative; }

.shortcodes_left h1 { border-bottom: 2px solid black; margin: -5px 0 20px 0; }

.shortcodes_middle h1 { border-bottom: 2px solid #990036; margin: -5px 0 20px 0; }

.shortcodes_right h1 { border-bottom: 2px solid #e7a300; margin: -5px 0 20px 0; }

.sc_item { position: relative; z-index: 500; padding: 15px; background-color: rgba(255, 255, 255, 0.8); }
@media (max-width: 959px) { .sc_item { margin-bottom: 20px; } }

/* Shortcode Alternate Layout */
@media (min-width: 370px) and (max-width: 959px) { .sc_item { width: 300px !important; }
  .shortcodes .grid-mobile-12 { width: 350px !important; float: left; display: block; } }
@media (min-width: 370px) and (max-width: 959px) and (min-width: 350px) { .shortcodes .container { width: 350px !important; } }
@media (min-width: 370px) and (max-width: 959px) and (min-width: 700px) { .shortcodes .container { width: 700px !important; } }
@media (min-width: 960px) { .sc_item p.bodytext { margin-bottom: 40px; } }
@media (max-width: 959px) { .sc_item p.bodytext { margin-bottom: 40px; } }
.sc_item i { margin-bottom: 10px; color: #777777; font-size: 8em; text-align: center; }

.sc_item a { position: absolute; bottom: 10px; right: 10px; }

/** Content Definitions */
.content { position: relative; z-index: 0; padding: 40px 0; background: none; }

.content h1 { font-size: 28px; font-weight: bold; }
.content img { border: 3px solid #cccccc !important; }

/** Bottom Definitions */
.bottom { padding: 40px 0; background: rgba(155, 155, 155, 0.5); }

@media (max-width: 959px) { .bottom_left, .bottom_middle, .bottom_right { margin-bottom: 20px; } }

.bottom_left i.fa { width: 30px; font-size: 1em; }

.bottom_left p { line-height: 20px; margin-bottom: 20px; }

.bottom_left h1 { border-bottom: 2px solid black; margin: 0 0 20px 0; }

.bottom_middle h1 { border-bottom: 2px solid #990036; margin: 0 0 20px 0; }

.bottom_right h1 { border-bottom: 2px solid #e7a300; margin: 0 0 20px 0; }

@font-face { font-family: 'cooper_hewittbold'; src: url("../fonts/cooperhewitt-bold-webfont.eot"); src: url("../fonts/cooperhewitt-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cooperhewitt-bold-webfont.woff2") format("woff2"), url("../fonts/cooperhewitt-bold-webfont.woff") format("woff"), url("../fonts/cooperhewitt-bold-webfont.ttf") format("truetype"), url("../fonts/cooperhewitt-bold-webfont.svg#cooper_hewittbold") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'cooper_hewittbook'; src: url("../fonts/cooperhewitt-book-webfont.eot"); src: url("../fonts/cooperhewitt-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cooperhewitt-book-webfont.woff2") format("woff2"), url("../fonts/cooperhewitt-book-webfont.woff") format("woff"), url("../fonts/cooperhewitt-book-webfont.ttf") format("truetype"), url("../fonts/cooperhewitt-book-webfont.svg#cooper_hewittbook") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'cooper_hewittlight'; src: url("../fonts/cooperhewitt-light-webfont.eot"); src: url("../fonts/cooperhewitt-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cooperhewitt-light-webfont.woff2") format("woff2"), url("../fonts/cooperhewitt-light-webfont.woff") format("woff"), url("../fonts/cooperhewitt-light-webfont.ttf") format("truetype"), url("../fonts/cooperhewitt-light-webfont.svg#cooper_hewittlight") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'roboto'; src: url("../fonts/RobotoCondensed-Regular-webfont.eot"); src: url("../fonts/RobotoCondensed-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Regular-webfont.woff") format("woff"), url("../fonts/RobotoCondensed-Regular-webfont.ttf") format("truetype"), url("../fonts/RobotoCondensed-Regular-webfont.svg#roboto") format("svg"); font-weight: normal; font-style: normal; }
html { font-family: "cooper_hewittbook", Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 { font-family: "roboto", Arial, sans-serif; }

h1 { font-size: 1.5em; line-height: 1.6em; margin-bottom: 20px; }

h1 a { text-decoration: none; }

h2 { font-size: 1.4em; line-height: 1.5em; margin: 20px 0; }

h3 { font-size: 1.2em; line-height: 1.3em; margin: 20px 0; }

p { line-height: 150%; }

p.bodytext { margin-bottom: 10px; font-size: 1em; font-family: "cooper_hewittbook", Arial, sans-serif; }

.menu { font-family: "cooper_hewittlight", Arial, sans-serif; }

caption { font-size: 0.9em !important; text-align: center !important; line-height: 1.35em; margin-top: 5px; width: auto; font-family: "cooper_hewittbook", Arial, sans-serif; }

.csc-textpic-caption { font-size: 0.8em; }

b { font-family: "cooper_hewittbold", Arial, sans-serif; }

.top a, .footer a, .titlebar a { color: white; text-decoration: none; }

.top a:hover, .footer a:hover, .titlebar a:hover { color: #cccccc; text-decoration: underline; }

a { color: black; transition: all 0.3s; }

a:hover { color: #777777; }

sub { font-size: 0.7em; position: relative; top: 3px; }

sup { font-size: 0.63em; position: relative; top: -5px; }

.slider a:before, .shortcodes a:before { content: "\f101  "; font-family: "FontAwesome"; }

/**  Main Menu  */
ul.mainmenu { list-style-type: none; }

.burger { position: absolute; top: 20px; left: 20px; height: 32px; width: 32px; margin: 10px; }
@media (min-width: 960px) { .burger { display: none; } }
@media (max-width: 959px) { .burger { display: inline-block; } }
.burger div { height: 2px; background-color: #555555; margin: 9px 0; }

@media (min-width: 960px) { ul.mainmenu { display: block; }
  ul.mainmenu li { display: inline-block; }
  ul.mainmenu li a { margin: 25px 0; letter-spacing: 2px; padding: 0 10px; height: 50px; line-height: 50px; font-weight: bold; color: black; text-decoration: none; background-color: white; display: block; transition: all 0.3s; }
  ul.mainmenu li a:hover { background-color: #990036; color: white; } }
@media (max-width: 959px) { ul.mainmenu { width: 100%; display: none; position: absolute; top: 100px; left: 0px; z-index: 100; }
  ul.mainmenu li { display: block; }
  ul.mainmenu li a { border-top: 1px solid #777777; text-decoration: none; font-weight: normal; background-color: #aaaaaa; padding: 12px 0 12px 30px; letter-spacing: 2px; display: block; transition: all 0.3s; }
  ul.mainmenu li a:hover { background-color: #990036; color: white; } }
.bottom_right a, .bottom_middle a { line-height: 150%; }

.bottom_middle a { display: inline-block; }

@media (min-width: 960px) { .content_left li.sidecurrent a { border-bottom: 1px solid #e7a300; }
  .content_left ul li a { padding: 10px 0 5px 10px; font-size: 18px; display: block; text-decoration: none; border-bottom: 1px solid black; }
  .content_left ul li a:hover { border-bottom: 1px solid #990036; }
  .content_left ul.deepness3 li a { padding-left: 5px; font-size: 16px; margin-left: 20px; border-bottom: 1px solid black; }
  .content_left ul.deepness3 li a:hover { border-bottom: 1px solid #990036; } }
@media (max-width: 959px) { .content_left > ul { position: relative; top: -20px; display: block; text-align: center; }
  .content_left li.sidecurrent a { border-bottom: 1px solid #e7a300; }
  .content_left ul li a { float: left; padding: 10px 0 5px 0; margin-right: 10px; font-size: 16px; display: block; text-decoration: none; border-bottom: 1px solid black; }
  .content_left ul li a:hover { border-bottom: 1px solid #990036; }
  .content_left ul.deepness3 li a { font-size: 14px; border-bottom: 1px solid black; }
  .content_left ul.deepness3 li a:hover { border-bottom: 1px solid #990036; } }
/** SLIDER OWN DEFINITIONS */
.slider { color: white; text-align: left !important; }
.slider h1 { font-size: 36px; display: block; text-shadow: 2px 2px 3px rgba(51, 51, 51, 0.75); }
.slider p { padding: 10px; font-size: 1.1em; display: inline-block; background-color: rgba(51, 51, 51, 0.75); }
.slider a { color: white; }
.slider p a { letter-spacing: 0.02em; transition: all 0.2s; }
.slider p a:hover { letter-spacing: 0.05em; }

.imagebar { visibility: hidden; border: 0; height: 0; }

.imagebar caption { display: none; }

.youtube { top: 20px !important; text-align: right; }

#yt_iframe { margin: 0 auto; height: 80%; }

.cbQuickGoogleMap img { border: none !important; }

.youtube h1 { font-size: 1.5em !important; padding-right: 20px; }

.slider iframe { position: absolute; top: 17px; }
@media (max-width: 959px) { .slider iframe { height: 350px !important; } }

.slider h1, .slider p { opacity: 1; transition: all 1s linear; }

.hide-container .slider h1, .hide-container .slider p { opacity: 0 !important; }

/** Mobile */
@media (max-width: 959px) { .sliderimg .container { padding-right: 20px; }
  .sliderimg .container h1 { font-size: 2em; }
  .sliderimg .container p { font-size: 0.95em; }
  .sliderimg .csc-textpic-text { top: 50px !important; } }
/** Height Fix */
img.img_gt_slider { width: auto !important; left: -50%; }

@media (max-width: 1060px) { .slider .bx-controls-direction { display: none; } }
.imagebar .ov { position: absolute; height: 150px; display: block; width: 100px; z-index: 1000; }

.imagebar .container { position: relative; }

.imagebar .overlay_right { right: 0px; background: linear-gradient(to left, #333333 5%, rgba(51, 51, 51, 0) 100%); /* W3C */ }
.imagebar .overlay_left { left: 0px; background: linear-gradient(to right, #333333 5%, rgba(51, 51, 51, 0) 100%); /* W3C */ }

/** BxSlider v4.1.2 - Fully loaded, responsive content slider http://bxslider.com  Written by: Steven Wanderski, 2014 http://stevenwanderski.com (while drinking Belgian ales and listening to jazz)  CEO and founder of bxCreative, LTD http://bxcreative.com */
/** RESET AND LAYOUT
===================================*/
.slider .bx-wrapper { position: relative; margin: 0 auto 60px; padding: 0; *zoom: 1; max-width: 100%; }
@media (min-width: 960px) { .slider .bx-wrapper { height: 500px !important; } }
@media (max-width: 959px) { .slider .bx-wrapper { height: 350px !important; } }

.imagebar .bx-wrapper { position: relative; margin: 0 auto 60px; padding: 0; *zoom: 1; max-width: none !important; width: 100%; }
@media (min-width: 960px) { .imagebar .bx-wrapper { height: 150px !important; } }
@media (max-width: 959px) { .imagebar .bx-wrapper { height: 150px !important; } }

.sliderimg img { width: 100%; height: auto; display: block; position: absolute !important; }

.sliderimg .csc-textpic-text { position: relative; top: 100px; left: 10px; }

.sliderimg { height: 100%; width: 100%; }

/** THEME
===================================*/
.slider .bx-wrapper .bx-viewport { background: #fff; /*fix other elements on the page moving (on Chrome)*/ -webkit-transform: translatez(0); -moz-transform: translatez(0); -ms-transform: translatez(0); -o-transform: translatez(0); transform: translatez(0); }
@media (min-width: 960px) { .slider .bx-wrapper .bx-viewport { height: 517px !important; top: -17px; } }
@media (max-width: 959px) { .slider .bx-wrapper .bx-viewport { height: 367px !important; top: -17px; } }

.imagebar .bx-wrapper .bx-viewport { background: none; /*fix other elements on the page moving (on Chrome)*/ -webkit-transform: translatez(0); -moz-transform: translatez(0); -ms-transform: translatez(0); -o-transform: translatez(0); transform: translatez(0); }
@media (min-width: 960px) { .imagebar .bx-wrapper .bx-viewport { height: 150px !important; } }
@media (max-width: 959px) { .imagebar .bx-wrapper .bx-viewport { height: 150px !important; } }

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { position: absolute; bottom: 10px; width: 100%; }

/* LOADER */
.slider { position: relative; }

.slider_load { display: none; min-height: 50px; background: url(../images/preload.gif) center center no-repeat #555; height: 100%; width: 100%; position: absolute; top: 0; left: 0; z-index: 2000; }

/* PAGER */
.imagebar { /* AUTO CONTROLS (START / STOP) */ /* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */ /* IMAGE CAPTIONS */ }
.imagebar .bx-wrapper .bx-pager { text-align: center; font-size: .85em; font-family: Arial; font-weight: bold; color: #666; padding-top: 20px; }
.imagebar .bx-wrapper .bx-pager .bx-pager-item, .imagebar .bx-wrapper .bx-controls-auto .bx-controls-auto-item { display: inline-block; *zoom: 1; *display: inline; }
.imagebar .bx-wrapper .bx-pager.bx-default-pager a { background: #666; border: 2px solid #666; text-indent: -9999px; display: block; width: 16px; height: 16px; margin: 0 5px; outline: 0; opacity: 0.5; /*-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;*/ }
.imagebar .bx-wrapper .bx-pager.bx-default-pager a:hover { border: 2px solid #fff !important; opacity: 0.8; }
.imagebar .bx-wrapper .bx-pager.bx-default-pager a.active { background: black; border: 2px solid #990036; opacity: 0.8; }
.imagebar .bx-wrapper .bx-pager.bx-default-pager .bx-wrapper .bx-prev { left: 10px; }
.imagebar .bx-wrapper .bx-next { right: 10px; }
.imagebar .bx-wrapper .bx-controls-direction a { font-size: 6em; opacity: 0.4; text-decoration: none !important; color: #fff; transition: all 0.5s; position: absolute; }
.imagebar .bx-wrapper .bx-prev { left: 30px; text-shadow: 0px 0px 0px #000; }
.imagebar .bx-wrapper .bx-next { right: 30px; text-shadow: 0px 0px 0px #000; }
.imagebar .bx-wrapper .bx-controls-direction a:hover { opacity: 0.9; }
.imagebar .bx-wrapper .bx-prev:before { content: "\f104"; }
.imagebar .bx-wrapper .bx-next:before { content: "\f105"; }
.imagebar .bx-wrapper .bx-prev:hover { left: 35px; text-shadow: 0px 0px 5px #000; }
.imagebar .bx-wrapper .bx-next:hover { right: 35px; text-shadow: 0px 0px 5px #000; }
.imagebar .bx-wrapper .bx-controls-direction a { position: absolute; font-family: "FontAwesome"; top: 42px; margin-top: -16px; outline: 0; height: 4.0em; z-index: 9999; }
.imagebar .bx-wrapper .bx-controls-direction a.disabled { display: none; }
.imagebar .bx-wrapper .bx-controls-auto { text-align: center; }
.imagebar .bx-wrapper .bx-controls-auto .bx-start { display: block; text-indent: -9999px; width: 10px; height: 11px; outline: 0; background: url(images/controls.png) -86px -11px no-repeat; margin: 0 3px; }
.imagebar .bx-wrapper .bx-controls-auto .bx-start:hover, .imagebar .bx-wrapper .bx-controls-auto .bx-start.active { background-position: -86px 0; }
.imagebar .bx-wrapper .bx-controls-auto .bx-stop { display: block; text-indent: -9999px; width: 9px; height: 11px; outline: 0; background: url(images/controls.png) -86px -44px no-repeat; margin: 0 3px; }
.imagebar .bx-wrapper .bx-controls-auto .bx-stop:hover, .imagebar .bx-wrapper .bx-controls-auto .bx-stop.active { background-position: -86px -33px; }
.imagebar .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager { text-align: left; width: 80%; }
.imagebar .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto { right: 0; width: 35px; }
.imagebar .bx-wrapper .bx-caption { position: absolute; bottom: 0; left: 0; background: #666 \9; background: rgba(80, 80, 80, 0.75); width: 100%; }
.imagebar .bx-wrapper .bx-caption span { color: #fff; font-family: Arial; display: block; font-size: .85em; padding: 10px; }

/* PAGER */
.slider { /* AUTO CONTROLS (START / STOP) */ /* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */ /* IMAGE CAPTIONS */ }
.slider .bx-wrapper .bx-pager { text-align: center; font-size: .85em; font-family: Arial; font-weight: bold; color: #666; padding-top: 20px; }
.slider .bx-wrapper .bx-pager .bx-pager-item, .slider .bx-wrapper .bx-controls-auto .bx-controls-auto-item { display: inline-block; *zoom: 1; *display: inline; }
.slider .bx-wrapper .bx-pager.bx-default-pager a { background: #666; border: 2px solid #666; text-indent: -9999px; display: block; width: 16px; height: 16px; margin: 0 5px; outline: 0; opacity: 0.5; /*-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;*/ }
.slider .bx-wrapper .bx-pager.bx-default-pager a:hover { border: 2px solid #fff !important; opacity: 0.8; }
.slider .bx-wrapper .bx-pager.bx-default-pager a.active { background: black; border: 2px solid #990036; opacity: 0.8; }
.slider .bx-wrapper .bx-pager.bx-default-pager .bx-wrapper .bx-prev { left: 10px; }
.slider .bx-wrapper .bx-next { right: 10px; }
.slider .bx-wrapper .bx-controls-direction a { font-size: 4.0em; opacity: 0.25; text-decoration: none !important; transition: all 0.5s; position: absolute; }
.slider .bx-wrapper .bx-prev { left: 10px; text-shadow: 0px 0px 0px #000; }
.slider .bx-wrapper .bx-next { right: 10px; text-shadow: 0px 0px 0px #000; }
.slider .bx-wrapper .bx-controls-direction a:hover { opacity: 0.8; }
.slider .bx-wrapper .bx-prev:before { content: "\f104"; }
.slider .bx-wrapper .bx-next:before { content: "\f105"; }
.slider .bx-wrapper .bx-prev:hover { left: 20px; text-shadow: 0px 0px 5px #000; }
.slider .bx-wrapper .bx-next:hover { right: 20px; text-shadow: 0px 0px 5px #000; }
.slider .bx-wrapper .bx-controls-direction a { position: absolute; font-family: "FontAwesome"; top: 50%; margin-top: -16px; outline: 0; z-index: 9999; }
.slider .bx-wrapper .bx-controls-direction a.disabled { display: none; }
.slider .bx-wrapper .bx-controls-auto { text-align: center; }
.slider .bx-wrapper .bx-controls-auto .bx-start { display: block; text-indent: -9999px; width: 10px; height: 11px; outline: 0; background: url(images/controls.png) -86px -11px no-repeat; margin: 0 3px; }
.slider .bx-wrapper .bx-controls-auto .bx-start:hover, .slider .bx-wrapper .bx-controls-auto .bx-start.active { background-position: -86px 0; }
.slider .bx-wrapper .bx-controls-auto .bx-stop { display: block; text-indent: -9999px; width: 9px; height: 11px; outline: 0; background: url(images/controls.png) -86px -44px no-repeat; margin: 0 3px; }
.slider .bx-wrapper .bx-controls-auto .bx-stop:hover, .slider .bx-wrapper .bx-controls-auto .bx-stop.active { background-position: -86px -33px; }
.slider .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager { text-align: left; width: 80%; }
.slider .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto { right: 0; width: 35px; }
.slider .bx-wrapper .bx-caption { position: absolute; bottom: 0; left: 0; background: #666 \9; background: rgba(80, 80, 80, 0.75); width: 100%; }
.slider .bx-wrapper .bx-caption span { color: #fff; font-family: Arial; display: block; font-size: .85em; padding: 10px; }

/** Fixed Menu and Slider */
body.scrollfixed .menu { position: fixed; background-color: white; top: 0px; width: 100%; z-index: 500; box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5); }

body.scrollfixed .slider { position: relative; width: 100%; top: 100px; }

body.scrollfixed .titlebar { position: relative; width: 100%; top: 100px; }

body.scrollfixed .imagebar { width: 100%; position: relative; top: 0px; }

body.scrollfixed .zirkel { display: block; width: 100%; position: relative; top: 100px; }

body.scrollfixed .footer { position: relative; top: 100px; }

/* SCROLL UP  */
.footer .container, .bottom .container, .content .container { position: relative; }

.scrollup { position: absolute; right: 5px; z-index: 100; }
@media (min-width: 960px) { .scrollup { bottom: 40px; } }
@media (max-width: 959px) { .scrollup { bottom: 80px; } }

.scrollup i { font-size: 5em !important; }

.scrollup a { color: #555555; transition: all 0.5s; }

.scrollup a:hover { color: #777777; }

.content_right ul { list-style: outside none none; padding: 10px; background: #DDDDDD; }
.content_right ul li { position: relative; left: 20px; line-height: 30px; }
.content_right ul li::before { content: "\f0c8"; font-family: "FontAwesome"; display: inline-block; color: #990036; font-size: 12px; position: relative; bottom: 1px; width: 1.5em; margin-left: -1.5em; }

.csc-mailform label em { text-transform: none; color: #990036; font-size: 0.8em; line-height: 0.9em; }
.csc-mailform .csc-form-element { margin: 0 0 10px 0; }
.csc-mailform textarea, .csc-mailform input[type] { border: 1px solid #990036; padding: 5px; font-size: 16px; -webkit-appearance: none; }
@media (min-width: 960px) { .csc-mailform textarea, .csc-mailform input[type] { width: 65%; } }
@media (max-width: 959px) { .csc-mailform textarea, .csc-mailform input[type] { width: 94%; } }
.csc-mailform input[type="submit"] { -webkit-appearance: none; position: relative; background: #990036; color: white; font-family: "OpenSans", Arial, sans-serif; }
@media (min-width: 960px) { .csc-mailform input[type="submit"] { width: 300px; } }
@media (max-width: 959px) { .csc-mailform input[type="submit"] { width: 94%; } }
@media (min-width: 960px) { .csc-mailform input[type="submit"] { left: 224px; } }
.csc-mailform label { position: relative; }
.csc-mailform strong { display: inline-block; padding: 8px; background: #cccccc; position: relative; margin-bottom: 5px; top: 3px; color: #990036; font-style: italic; font-size: 0.8em; text-transform: none; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); }

.theme-lightbox ul { list-style: none !important; padding: 0 !important; background: none !important; }
.theme-lightbox ul li { list-style: none !important; position: static !important; line-height: 0; }
.theme-lightbox ul li::before { content: "" !important; }
.theme-lightbox .tx-yag-breadcrumbcomtainer { border: 0 !important; }
.theme-lightbox .tx-yag-gallery-galleryinfo, .theme-lightbox .tx-yag-album-albuminfo { line-height: 1.4em; }
.theme-lightbox .tx-yag-pager { height: 1.2em; margin-top: 10px; }
.theme-lightbox .yag-item-thumb-innerframe img { width: auto !important; }
.theme-lightbox .tx-yag-album-itemcount, .theme-lightbox .tx-yag-gallery-albumcount { display: none; }
@media (max-width: 750px) { .theme-lightbox .tx-yag-gallery-thumb-outerframe, .theme-lightbox .tx-yag-album-thumb-outerframe { width: 360px !important; } }
@media (max-width: 440px) { .theme-lightbox .tx-yag-gallery-thumb-outerframe, .theme-lightbox .tx-yag-album-thumb-outerframe { width: 100% !important; } }
@media only screen and (max-width: 1050px) and (min-width: 751px) { .theme-lightbox { /* Small desktop / ipad view: 3 tiles */ }
  .theme-lightbox .yag-item-thumb-outerframe { width: 33.3%; }
  .theme-lightbox .tx-yag-gallery-thumb-outerframe, .theme-lightbox .tx-yag-album-thumb-outerframe { width: 50% !important; } }
.theme-lightbox .tx-yag-album-albuminfo a, .theme-lightbox .tx-yag-gallery-galleryinfo a { text-decoration: none !important; font-size: 1.25em; line-height: 1.4em; font-family: 'roboto'; }

html, body { height: auto; }

li.csc-uploads-element-pdf:before { content: "\f1c1" !important; margin-left: 0 !important; font-size: 1.1em !important; }

li.csc-uploads-element-pdf span { display: inline; }

#gerdb a { border-radius: 3px; position: relative; color: white; left: 0px; padding: 4px 9px 3px 9px; transition: all 1s ease, left 0.3s linear; }

#gerdb a:hover { background-color: #cccccc; color: black; text-decoration: none; }

#gerdb a i { padding: 0px; transition: all 1s ease; }

#gerdb a:hover i { padding-right: 5px; transform: rotateY(180deg); }

.top_left { position: relative; }

.fb_iframe_widget { position: absolute !important; top: 0; left: 240px; float: left; }

.fb-like { float: left; }

.fb-like > span { vertical-align: text-top !important; position: relative; }

@media screen and (max-width: 400px) { @-ms-viewport { width: device-width; } }
#gridle-settings { content: '{ "version" : "1.3.38", "states" : { "retina":{ "query" : "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)", "classes" : false, "name" : "retina", "_gridle" : true }, "tv":{ "query" : "only tv", "classes" : false, "name" : "tv", "_gridle" : true }, "print":{ "query" : "only print", "classes" : false, "name" : "print", "_gridle" : true }, "portrait":{ "query" : "only screen and (orientation: portrait)", "classes" : false, "name" : "portrait", "_gridle" : true }, "landscape":{ "query" : "only screen and (orientation: landscape)", "classes" : false, "name" : "landscape", "_gridle" : true }, "default":{ "name" : "default", "min-width" : null, "max-width" : null, "query" : null, "classes" : true, "context" : "12", "gutter-width" : "20px", "direction" : "ltr", "name-multiplicator" : "1", "debug" : false, "debug-show-class-names" : true, "ie7-support" : false, "html-states-classes" : false, "generate-push-classes" : true, "generate-pull-classes" : true, "generate-prefix-classes" : true, "generate-suffix-classes" : true, "generate-helpers-classes" : true, "_gridle" : true }, "mobile":{ "name" : "mobile", "min-width" : null, "max-width" : "959px", "query" : "screen and (max-width: 959px)", "classes" : true, "context" : "12", "gutter-width" : "20px", "direction" : "ltr", "name-multiplicator" : "1", "debug" : false, "debug-show-class-names" : true, "ie7-support" : false, "html-states-classes" : false, "generate-push-classes" : true, "generate-pull-classes" : true, "generate-prefix-classes" : true, "generate-suffix-classes" : true, "generate-helpers-classes" : true, "_gridle" : true }} }'; }

.grid-5on18, .grid-0, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-mobile-5on18, .grid-mobile-0, .grid-mobile-1, .grid-mobile-2, .grid-mobile-3, .grid-mobile-4, .grid-mobile-5, .grid-mobile-6, .grid-mobile-7, .grid-mobile-8, .grid-mobile-9, .grid-mobile-10, .grid-mobile-11, .grid-mobile-12 { float: left; direction: ltr; padding-left: 10px; padding-right: 10px; }

.grid-5on18 { width: 27.77778%; }

.push-5on18 { left: 27.77778%; }

.pull-5on18 { right: 27.77778%; }

.prefix-5on18 { margin-left: 27.77778%; }

.suffix-5on18 { margin-right: 27.77778%; }

.grid-0 { width: 0%; }

.push-0 { left: 0%; }

.pull-0 { right: 0%; }

.prefix-0 { margin-left: 0%; }

.suffix-0 { margin-right: 0%; }

.grid-1 { width: 8.33333%; }

.push-1 { left: 8.33333%; }

.pull-1 { right: 8.33333%; }

.prefix-1 { margin-left: 8.33333%; }

.suffix-1 { margin-right: 8.33333%; }

.grid-2 { width: 16.66667%; }

.push-2 { left: 16.66667%; }

.pull-2 { right: 16.66667%; }

.prefix-2 { margin-left: 16.66667%; }

.suffix-2 { margin-right: 16.66667%; }

.grid-3 { width: 25%; }

.push-3 { left: 25.0%; }

.pull-3 { right: 25.0%; }

.prefix-3 { margin-left: 25.0%; }

.suffix-3 { margin-right: 25.0%; }

.grid-4 { width: 33.33333%; }

.push-4 { left: 33.33333%; }

.pull-4 { right: 33.33333%; }

.prefix-4 { margin-left: 33.33333%; }

.suffix-4 { margin-right: 33.33333%; }

.grid-5 { width: 41.66667%; }

.push-5 { left: 41.66667%; }

.pull-5 { right: 41.66667%; }

.prefix-5 { margin-left: 41.66667%; }

.suffix-5 { margin-right: 41.66667%; }

.grid-6 { width: 50%; }

.push-6 { left: 50.0%; }

.pull-6 { right: 50.0%; }

.prefix-6 { margin-left: 50.0%; }

.suffix-6 { margin-right: 50.0%; }

.grid-7 { width: 58.33333%; }

.push-7 { left: 58.33333%; }

.pull-7 { right: 58.33333%; }

.prefix-7 { margin-left: 58.33333%; }

.suffix-7 { margin-right: 58.33333%; }

.grid-8 { width: 66.66667%; }

.push-8 { left: 66.66667%; }

.pull-8 { right: 66.66667%; }

.prefix-8 { margin-left: 66.66667%; }

.suffix-8 { margin-right: 66.66667%; }

.grid-9 { width: 75%; }

.push-9 { left: 75.0%; }

.pull-9 { right: 75.0%; }

.prefix-9 { margin-left: 75.0%; }

.suffix-9 { margin-right: 75.0%; }

.grid-10 { width: 83.33333%; }

.push-10 { left: 83.33333%; }

.pull-10 { right: 83.33333%; }

.prefix-10 { margin-left: 83.33333%; }

.suffix-10 { margin-right: 83.33333%; }

.grid-11 { width: 91.66667%; }

.push-11 { left: 91.66667%; }

.pull-11 { right: 91.66667%; }

.prefix-11 { margin-left: 91.66667%; }

.suffix-11 { margin-right: 91.66667%; }

.grid-12 { width: 100%; }

.push-12 { left: 100.0%; }

.pull-12 { right: 100.0%; }

.prefix-12 { margin-left: 100.0%; }

.suffix-12 { margin-right: 100.0%; }

.float-left { float: left; }

.float-right { float: right; }

.clear { clear: both; }

.clear-left { clear: left; }

.clear-right { clear: right; }

.no-gutter, .no-margin { padding-left: 0; padding-right: 0; }

.no-gutter-left, .no-margin-left { padding-left: 0; }

.no-gutter-right, .no-margin-right { padding-right: 0; }

.no-gutter-top, .no-margin-top { padding-top: 0; }

.no-gutter-bottom, .no-margin-bottom { padding-bottom: 0; }

.gutter, .margins { padding-left: 10px; padding-right: 10px; }

.gutter-left, .margin-left { padding-left: 10px; }

.gutter-right, .margin-right { padding-right: 10px; }

.gutter-top, .margin-top { padding-top: 10px; }

.gutter-bottom, .margin-bottom { padding-bottom: 10px; }

.auto-height { height: inherit; }

.centered { display: block !important; float: none !important; margin-left: auto !important; margin-right: auto !important; clear: both !important; }

.parent { padding-left: 0; padding-right: 0; }

.vertical-align-middle { font-size: 0; clear: both; }
.vertical-align-middle > * { display: inline-block; float: none !important; vertical-align: middle; font-size: 1rem; }

.vertical-align-top { font-size: 0; clear: both; }
.vertical-align-top > * { display: inline-block; float: none !important; vertical-align: top; font-size: 1rem; }

.vertical-align-bottom { font-size: 0; clear: both; }
.vertical-align-bottom > * { display: inline-block; float: none !important; vertical-align: bottom; font-size: 1rem; }

/** Visible, hide, etc... */
.hide { display: none; }

.not-visible { visibility: hidden; }

.show { display: block; }

.show-inline { display: inline-block; }

.visible { visibility: visible; }

/** Clear each class : */
.clear-each-2 > *:nth-child(2n+1) { clear: left; }

.clear-each-12 > *:nth-child(12n+1) { clear: both; }

@media screen and (max-width: 959px) { .grid-mobile-5on18 { width: 27.77778%; }
  .push-mobile-5on18 { left: 27.77778%; }
  .pull-mobile-5on18 { right: 27.77778%; }
  .prefix-mobile-5on18 { margin-left: 27.77778%; }
  .suffix-mobile-5on18 { margin-right: 27.77778%; }
  .grid-mobile-0 { width: 0%; }
  .push-mobile-0 { left: 0%; }
  .pull-mobile-0 { right: 0%; }
  .prefix-mobile-0 { margin-left: 0%; }
  .suffix-mobile-0 { margin-right: 0%; }
  .grid-mobile-1 { width: 8.33333%; }
  .push-mobile-1 { left: 8.33333%; }
  .pull-mobile-1 { right: 8.33333%; }
  .prefix-mobile-1 { margin-left: 8.33333%; }
  .suffix-mobile-1 { margin-right: 8.33333%; }
  .grid-mobile-2 { width: 16.66667%; }
  .push-mobile-2 { left: 16.66667%; }
  .pull-mobile-2 { right: 16.66667%; }
  .prefix-mobile-2 { margin-left: 16.66667%; }
  .suffix-mobile-2 { margin-right: 16.66667%; }
  .grid-mobile-3 { width: 25%; }
  .push-mobile-3 { left: 25.0%; }
  .pull-mobile-3 { right: 25.0%; }
  .prefix-mobile-3 { margin-left: 25.0%; }
  .suffix-mobile-3 { margin-right: 25.0%; }
  .grid-mobile-4 { width: 33.33333%; }
  .push-mobile-4 { left: 33.33333%; }
  .pull-mobile-4 { right: 33.33333%; }
  .prefix-mobile-4 { margin-left: 33.33333%; }
  .suffix-mobile-4 { margin-right: 33.33333%; }
  .grid-mobile-5 { width: 41.66667%; }
  .push-mobile-5 { left: 41.66667%; }
  .pull-mobile-5 { right: 41.66667%; }
  .prefix-mobile-5 { margin-left: 41.66667%; }
  .suffix-mobile-5 { margin-right: 41.66667%; }
  .grid-mobile-6 { width: 50%; }
  .push-mobile-6 { left: 50.0%; }
  .pull-mobile-6 { right: 50.0%; }
  .prefix-mobile-6 { margin-left: 50.0%; }
  .suffix-mobile-6 { margin-right: 50.0%; }
  .grid-mobile-7 { width: 58.33333%; }
  .push-mobile-7 { left: 58.33333%; }
  .pull-mobile-7 { right: 58.33333%; }
  .prefix-mobile-7 { margin-left: 58.33333%; }
  .suffix-mobile-7 { margin-right: 58.33333%; }
  .grid-mobile-8 { width: 66.66667%; }
  .push-mobile-8 { left: 66.66667%; }
  .pull-mobile-8 { right: 66.66667%; }
  .prefix-mobile-8 { margin-left: 66.66667%; }
  .suffix-mobile-8 { margin-right: 66.66667%; }
  .grid-mobile-9 { width: 75%; }
  .push-mobile-9 { left: 75.0%; }
  .pull-mobile-9 { right: 75.0%; }
  .prefix-mobile-9 { margin-left: 75.0%; }
  .suffix-mobile-9 { margin-right: 75.0%; }
  .grid-mobile-10 { width: 83.33333%; }
  .push-mobile-10 { left: 83.33333%; }
  .pull-mobile-10 { right: 83.33333%; }
  .prefix-mobile-10 { margin-left: 83.33333%; }
  .suffix-mobile-10 { margin-right: 83.33333%; }
  .grid-mobile-11 { width: 91.66667%; }
  .push-mobile-11 { left: 91.66667%; }
  .pull-mobile-11 { right: 91.66667%; }
  .prefix-mobile-11 { margin-left: 91.66667%; }
  .suffix-mobile-11 { margin-right: 91.66667%; }
  .grid-mobile-12 { width: 100%; }
  .push-mobile-12 { left: 100.0%; }
  .pull-mobile-12 { right: 100.0%; }
  .prefix-mobile-12 { margin-left: 100.0%; }
  .suffix-mobile-12 { margin-right: 100.0%; }
  .float-mobile-left { float: left; }
  .float-mobile-right { float: right; }
  .clear-mobile { clear: both; }
  .clear-mobile-left { clear: left; }
  .clear-mobile-right { clear: right; }
  .no-gutter-mobile, .no-margin-mobile { padding-left: 0; padding-right: 0; }
  .no-gutter-mobile-left, .no-margin-mobile-left { padding-left: 0; }
  .no-gutter-mobile-right, .no-margin-mobile-right { padding-right: 0; }
  .no-gutter-mobile-top, .no-margin-mobile-top { padding-top: 0; }
  .no-gutter-mobile-bottom, .no-margin-mobile-bottom { padding-bottom: 0; }
  .gutter-mobile, .margins-mobile { padding-left: 10px; padding-right: 10px; }
  .gutter-mobile-left, .margin-mobile-left { padding-left: 10px; }
  .gutter-mobile-right, .margin-mobile-right { padding-right: 10px; }
  .gutter-mobile-top, .margin-mobile-top { padding-top: 10px; }
  .gutter-mobile-bottom, .margin-mobile-bottom { padding-bottom: 10px; }
  .auto-height-mobile { height: inherit; }
  .centered-mobile { display: block !important; float: none !important; margin-left: auto !important; margin-right: auto !important; clear: both !important; }
  .parent-mobile { padding-left: 0; padding-right: 0; }
  .vertical-align-mobile-middle { font-size: 0; clear: both; }
  .vertical-align-mobile-middle > * { display: inline-block; float: none !important; vertical-align: middle; font-size: 1rem; }
  .vertical-align-mobile-top { font-size: 0; clear: both; }
  .vertical-align-mobile-top > * { display: inline-block; float: none !important; vertical-align: top; font-size: 1rem; }
  .vertical-align-mobile-bottom { font-size: 0; clear: both; }
  .vertical-align-mobile-bottom > * { display: inline-block; float: none !important; vertical-align: bottom; font-size: 1rem; }
  /** Visible, hide, etc... */
  .hide-mobile { display: none; }
  .not-visible-mobile { visibility: hidden; }
  .show-mobile { display: block; }
  .show-inline-mobile { display: inline-block; }
  .visible-mobile { visibility: visible; }
  /** Clear each class : */
  .clear-each-mobile-2 > *:nth-child(2n+1) { clear: left; }
  .clear-each-mobile-12 > *:nth-child(12n+1) { clear: both; } }
