/* 
 * ----------------
 * Template: Germania 2015
 * Fuer meine liebe Germania 2015
 * Von : Marc Ernst
 * Firma : SkyIT Webdesign Darmstadt
 * Erstellt: 25.7.2015
 * ----------------
 * Version 0.1.0
 * ----------------
 */
/* line 5, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 30, ../sass/gridle/_silent-classes.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 38, ../sass/gridle/_silent-classes.scss */
.parent:before, .parent-mobile:before, .parent:after, .parent-mobile:after {
  content: "";
  display: table;
}
/* line 43, ../sass/gridle/_silent-classes.scss */
.parent:after, .parent-mobile:after {
  clear: both;
}
/* line 47, ../sass/gridle/_silent-classes.scss */
.parent, .parent-mobile {
  zoom: 1;
}

/* line 56, ../sass/gridle/_silent-classes.scss */
.push-5on18, .push-0, .push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-mobile-5on18, .push-mobile-0, .push-mobile-1, .push-mobile-2, .push-mobile-3, .push-mobile-4, .push-mobile-5, .push-mobile-6, .push-mobile-7, .push-mobile-8, .push-mobile-9, .push-mobile-10, .push-mobile-11, .push-mobile-12, .pull-5on18, .pull-0, .pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-mobile-5on18, .pull-mobile-0, .pull-mobile-1, .pull-mobile-2, .pull-mobile-3, .pull-mobile-4, .pull-mobile-5, .pull-mobile-6, .pull-mobile-7, .pull-mobile-8, .pull-mobile-9, .pull-mobile-10, .pull-mobile-11, .pull-mobile-12 {
  position: relative;
}

/* line 59, ../sass/gridle/_silent-classes.scss */
.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 64, ../sass/gridle/_silent-classes.scss */
.parent, .parent-mobile {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 90, ../sass/gridle/_silent-classes.scss */
.grid-5on18, .grid-0, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-mobile-5on18, .grid-mobile-0, .grid-mobile-1, .grid-mobile-2, .grid-mobile-3, .grid-mobile-4, .grid-mobile-5, .grid-mobile-6, .grid-mobile-7, .grid-mobile-8, .grid-mobile-9, .grid-mobile-10, .grid-mobile-11, .grid-mobile-12 {
  display: inline-block;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Str replace
 *
 * @param {string}  $string    String that you want to replace
 * @param {string}  $substr    String that is to be replaced by `$newsubstr`
 * @param {string}  $newsubstr String that replaces `$substr`
 * @param {number*} $all       Flag for replaceing all (1+) or not (0)
 * @return {string}
 */
/**
 * Map set
 *
 * @param 	Map 	$map 		The map to use
 * @param 	String 	$key 		The key to update
 * @param 	Mixed 	$value 		The new value
 * @return 	Map 			The new map
 */
/**
 * Get the column width in percent for the global or a specific context
 *
 * @param 	int 		$columns 					The number of columns to calculate
 * @param 	int 		$context : $gridle-columns-count 	 	The context to use
 * @return 	percentage 							The width in percent
 */
/**
 *  Get a state map
 *
 * @param 	string 		$name 		The name of the state to get
 * @return 	map 				A state map object
 */
/**
 * Check if a state exist :
 *
 * @param 	string 		$name 		The name of the state to check
 * @return 	Boolean 			true is exist
 */
/**
 * Get the media queries variables :
 *
 * @param 	int 		$index 	 	The media query indes
 * @param 	String 		$var 		The media query variable name
 * @return 	String|int 			The variable value
 */
/**
 * Get a variable
 *
 * @param 	String 		$varName 				The variable name
 * @param  	String 		$stateMap-or-stateName 	 	The state name or a map state value
 * @return 	Mixed 							The finded value
 */
/**
 * Set a variable in a state
 * @param 	Mixed $stateName-or-stateIndex 	The state name of state index
 * @param  	String $var                    		Variable name to assign
 * @param  	Mixed $newValue          		The new value to assign
 * @return 	List                         			The states list (full)
 */
/**
 * Generate a column
 *
 * @param 	String 		$name 			The column name (often count)
 * @param 	int 		$columns 		The column count that the column will take
 * @param 	int 		$context 		The context on witch the with will be calculed
 * @param 	Boolean 	$generateClasses 	Set if the column has to be generated in css
 */
/**
 * Generate classname
 *
 * @param 	List 		$parrern 	The pattern to use to generate classname
 * @param 	String 		$state 		The state
 * @param 	int 		$count 		The column count
 */
/**
 * Get the media query for a particular state, or with, etc...
 *
 * @param 	Mixed 		$state-or-min-width 		The state name of the min with
 * @param 	Mixed 		$max-width 			The max width if first param is a min width
 * @return 	String 						The media query string without the @media
 */
/**
 * Get states count
 * 
 * @return 	int 	The number of states defined
 */
/**
 * Setup
 */
/**
 *  Register a clear each class
 */
/**
 * Register a special class
 */
/**
 * Register default states
 */
/**
 * Register default mobile first states :
 */
/**
 * Set the debug device (not used for now)
 * 
 * @param 	String 		$state 		The state to update
 * @para m 	String 		$device 	The device to use (iphone, etc...)
 */
/**
 * Parent clear each
 */
/**
 * Vertical align :
 */
/**
 * Show inline
 *
 * @param 	String 		$state 		The state name
 */
/**
 * Generate a custom class for all the states
 *
 * @param 	list 	$pattern 		The name pattern of the class
 * @param 	list 	$statesNames 		The states names to generate
 */
/**
 *   Class Definitions - Reusables
 */
/* line 5, ../sass/include/_classes.scss */
.floatl {
  float: left;
}

/* line 9, ../sass/include/_classes.scss */
.tacenter {
  text-align: center;
}

/* line 13, ../sass/include/_classes.scss */
.tajustify {
  text-align: justify;
}

/* line 17, ../sass/include/_classes.scss */
.hidden {
  display: none !important;
}

/* line 21, ../sass/include/_classes.scss */
.xtra-70px {
  margin-bottom: 70px !important;
}

/* line 25, ../sass/include/_classes.scss */
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}

/* line 33, ../sass/include/_classes.scss */
.stdmargin-bot {
  margin-bottom: 20px;
}

/* line 36, ../sass/include/_classes.scss */
.stdmargin-top {
  margin-top: 20px;
}

/*
 * General Layout
 */
/* line 5, ../sass/include/_layout.scss */
.container {
  margin: 0 auto;
}
@media (min-width: 960px) {
  /* line 5, ../sass/include/_layout.scss */
  .container {
    width: 960px;
  }
}
@media (max-width: 959px) {
  /* line 5, ../sass/include/_layout.scss */
  .container {
    width: 100%;
  }
}

/**
 *   Top Definitions
 */
/* line 18, ../sass/include/_layout.scss */
.top {
  height: 40px;
  line-height: 40px;
  background: #555555;
  color: white;
  font-size: 14px;
}
@media (max-width: 959px) {
  /* line 18, ../sass/include/_layout.scss */
  .top {
    display: none;
  }
}

/* line 27, ../sass/include/_layout.scss */
.top a, .footer a {
  text-decoration: underline;
  color: white;
}

/* line 32, ../sass/include/_layout.scss */
.top i.fa {
  font-size: 16px;
  margin-right: 5px;
}

/* line 37, ../sass/include/_layout.scss */
.top span.phone {
  margin-right: 20px;
}

/* line 41, ../sass/include/_layout.scss */
.top_right {
  text-align: right;
}

/**
 *   Footer Definitions
 */
/* line 49, ../sass/include/_layout.scss */
.footer {
  height: 40px;
  line-height: 40px;
  background: #555555;
  color: white;
}
@media (min-width: 960px) {
  /* line 49, ../sass/include/_layout.scss */
  .footer {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
}
@media (max-width: 959px) {
  /* line 49, ../sass/include/_layout.scss */
  .footer {
    height: 80px;
    line-height: 40px;
    font-size: 12px;
  }
}

@media screen and (max-width: 470px) {
  /* line 66, ../sass/include/_layout.scss */
  span.hide-phone {
    display: none;
  }
}

/* line 72, ../sass/include/_layout.scss */
.footer i.fa {
  font-size: 16px;
  margin-right: 5px;
}

/* line 77, ../sass/include/_layout.scss */
.footer_left, .footer_right {
  height: 40px;
}

@media (min-width: 960px) {
  /* line 81, ../sass/include/_layout.scss */
  .footer_right {
    text-align: right;
  }
}

/**
 *   Menu Definitions
 */
/* line 88, ../sass/include/_layout.scss */
.menu {
  height: 100px;
  background: white;
}

/* line 93, ../sass/include/_layout.scss */
.menu_right {
  position: relative;
}

/* line 97, ../sass/include/_layout.scss */
.menu_right img {
  position: absolute;
  right: 10px;
  width: 235px;
  height: 80px;
  padding: 10px 0;
}
@media screen and (max-width: 350px) {
  /* line 97, ../sass/include/_layout.scss */
  .menu_right img {
    width: 188px;
    height: 64px;
    padding: 18px 0;
  }
}

/** 
 * 2 Spaltiges Layout
 */
@media (min-width: 960px) {
  /* line 114, ../sass/include/_layout.scss */
  .col2_left, .col2_right {
    width: 47.5%;
    float: left;
  }

  /* line 119, ../sass/include/_layout.scss */
  .col2_left {
    padding-right: 2.5%;
  }

  /* line 123, ../sass/include/_layout.scss */
  .col2_right {
    padding-left: 2.5%;
  }
}
@media (max-width: 959px) {
  /* line 129, ../sass/include/_layout.scss */
  .col2_left {
    margin-bottom: 20px;
  }
}
/**
 *   Slider Definitions
 */
/* line 137, ../sass/include/_layout.scss */
.slider {
  background: url("../images/Das_Haus_online.jpg") no-repeat center center;
  background-size: cover;
}
@media (min-width: 960px) {
  /* line 137, ../sass/include/_layout.scss */
  .slider {
    height: 500px;
  }
}
@media (max-width: 959px) {
  /* line 137, ../sass/include/_layout.scss */
  .slider {
    height: 350px;
  }
}

/** 
 *   Zirkel Background
 */
/* line 149, ../sass/include/_layout.scss */
.zirkel {
  position: relative;
  display: block;
  z-index: 1;
  background: url("../images/zirkel_trans10.png") no-repeat top right;
}

/**
 *   Titlebar Definitions
 */
/* line 160, ../sass/include/_layout.scss */
.titlebar {
  height: 200px;
  color: white;
  background: url("../images/Das_Haus_online.jpg") no-repeat center center;
  background-size: cover;
}

/** 
 *   Title Bar Effects
 */
/* line 171, ../sass/include/_layout.scss */
.titlebar h1 {
  padding: 10px;
  position: absolute;
  top: 50px;
  right: 0px;
  margin: 0 10px !important;
  display: inline-block;
  background-color: rgba(51, 51, 51, 0.75);
}
/* line 180, ../sass/include/_layout.scss */
.titlebar p {
  padding: 10px;
  display: inline-block;
  background-color: rgba(51, 51, 51, 0.75);
}

/* line 187, ../sass/include/_layout.scss */
.titlebar > div {
  position: relative;
}

/**
 *   Shortcode Definitions
 */
/* line 196, ../sass/include/_layout.scss */
.shortcodes {
  padding: 40px 0;
  background: rgba(155, 155, 155, 0.5);
}

/* line 202, ../sass/include/_layout.scss */
.shortcodes > div {
  position: relative;
}

/* line 207, ../sass/include/_layout.scss */
.shortcodes_left h1 {
  border-bottom: 2px solid black;
  margin: -5px 0 20px 0;
}

/* line 211, ../sass/include/_layout.scss */
.shortcodes_middle h1 {
  border-bottom: 2px solid #990036;
  margin: -5px 0 20px 0;
}

/* line 216, ../sass/include/_layout.scss */
.shortcodes_right h1 {
  border-bottom: 2px solid #e7a300;
  margin: -5px 0 20px 0;
}

/* line 221, ../sass/include/_layout.scss */
.sc_item {
  position: relative;
  z-index: 500;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 959px) {
  /* line 221, ../sass/include/_layout.scss */
  .sc_item {
    margin-bottom: 20px;
  }
}

@media (min-width: 960px) {
  /* line 235, ../sass/include/_layout.scss */
  .sc_item p.bodytext {
    margin-bottom: 40px;
  }
}
@media (max-width: 959px) {
  /* line 241, ../sass/include/_layout.scss */
  .sc_item p.bodytext {
    margin-bottom: 40px;
  }
}
/* line 246, ../sass/include/_layout.scss */
.sc_item i {
  margin-bottom: 10px;
  color: #777777;
  font-size: 8em;
  text-align: center;
}

/* line 253, ../sass/include/_layout.scss */
.sc_item a {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/**
 *   Content Definitions
 */
/* line 263, ../sass/include/_layout.scss */
.content {
  position: relative;
  z-index: 0;
  padding: 40px 0;
  min-height: 500px;
  background: none;
}

/* line 272, ../sass/include/_layout.scss */
.content h1 {
  font-size: 28px;
  font-weight: bold;
}

/**
 *   Bottom Definitions
 */
/* line 282, ../sass/include/_layout.scss */
.bottom {
  padding: 40px 0;
  background: rgba(155, 155, 155, 0.5);
}

@media (max-width: 959px) {
  /* line 289, ../sass/include/_layout.scss */
  .bottom_left, .bottom_middle, .bottom_right {
    margin-bottom: 20px;
  }
}

/* line 295, ../sass/include/_layout.scss */
.bottom_left i.fa {
  width: 30px;
  font-size: 16px;
}

/* line 300, ../sass/include/_layout.scss */
.bottom_left p {
  line-height: 20px;
  margin-bottom: 20px;
}

/* line 305, ../sass/include/_layout.scss */
.bottom_left h1 {
  border-bottom: 2px solid black;
  margin: 0 0 20px 0;
}

/* line 309, ../sass/include/_layout.scss */
.bottom_middle h1 {
  border-bottom: 2px solid #990036;
  margin: 0 0 20px 0;
}

/* line 314, ../sass/include/_layout.scss */
.bottom_right h1 {
  border-bottom: 2px solid #e7a300;
  margin: 0 0 20px 0;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
/* line 29, ../sass/include/_fonts.scss */
h1 {
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 20px;
}

/* line 35, ../sass/include/_fonts.scss */
h1 a {
  text-decoration: none;
}

/* line 39, ../sass/include/_fonts.scss */
h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  margin: 20px 0;
}

/* line 46, ../sass/include/_fonts.scss */
h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
}

/* line 52, ../sass/include/_fonts.scss */
p {
  line-height: 150%;
}

/* line 56, ../sass/include/_fonts.scss */
p.bodytext {
  margin-bottom: 10px;
  font-size: 15px;
}

/* line 61, ../sass/include/_fonts.scss */
caption {
  font-size: 14px;
  text-align: center !important;
  line-height: 21px;
  margin-top: 5px;
}

/* line 68, ../sass/include/_fonts.scss */
b {
  font-weight: bold;
}

/* line 72, ../sass/include/_fonts.scss */
.top a, .footer a, .titlebar a {
  color: white;
  text-decoration: none;
}

/* line 77, ../sass/include/_fonts.scss */
.top a:hover, .footer a:hover, .titlebar a:hover {
  color: #cccccc;
  text-decoration: underline;
}

/* line 82, ../sass/include/_fonts.scss */
a {
  color: black;
  transition: all 0.3s;
}

/* line 87, ../sass/include/_fonts.scss */
a:hover {
  color: #777777;
}

/* line 92, ../sass/include/_fonts.scss */
sub {
  font-size: 12px;
  position: relative;
  top: 3px;
}

/** 
 *   Main Menu 
 */
/* line 4, ../sass/include/_mainmenu.scss */
ul.mainmenu {
  list-style-type: none;
}

/* line 8, ../sass/include/_mainmenu.scss */
.burger {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 32px;
  width: 32px;
  margin: 10px;
}
@media (min-width: 960px) {
  /* line 8, ../sass/include/_mainmenu.scss */
  .burger {
    display: none;
  }
}
@media (max-width: 959px) {
  /* line 8, ../sass/include/_mainmenu.scss */
  .burger {
    display: inline-block;
  }
}
/* line 17, ../sass/include/_mainmenu.scss */
.burger div {
  height: 2px;
  background-color: #555555;
  margin: 9px 0;
}

@media (min-width: 960px) {
  /* line 25, ../sass/include/_mainmenu.scss */
  ul.mainmenu {
    display: block;
  }
  /* line 27, ../sass/include/_mainmenu.scss */
  ul.mainmenu li {
    display: inline-block;
  }
  /* line 31, ../sass/include/_mainmenu.scss */
  ul.mainmenu li a {
    margin: 25px 0;
    letter-spacing: 2px;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background-color: white;
    display: block;
    transition: all 0.3s;
  }
  /* line 46, ../sass/include/_mainmenu.scss */
  ul.mainmenu li a:hover {
    background-color: #990036;
    color: white;
  }
}
@media (max-width: 959px) {
  /* line 55, ../sass/include/_mainmenu.scss */
  ul.mainmenu {
    width: 100%;
    display: none;
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: 100;
  }
  /* line 63, ../sass/include/_mainmenu.scss */
  ul.mainmenu li {
    display: block;
  }
  /* line 67, ../sass/include/_mainmenu.scss */
  ul.mainmenu li a {
    border-top: 1px solid #777777;
    text-decoration: none;
    font-weight: normal;
    background-color: #aaaaaa;
    padding: 12px 0 12px 30px;
    letter-spacing: 2px;
    display: block;
    transition: all 0.3s;
  }
  /* line 81, ../sass/include/_mainmenu.scss */
  ul.mainmenu li a:hover {
    background-color: #990036;
    color: white;
  }
}
/* line 2, ../sass/include/_othermenus.scss */
.bottom_right a, .bottom_middle a {
  line-height: 150%;
}

/* line 7, ../sass/include/_othermenus.scss */
.bottom_middle a {
  display: inline-block;
}

@media (min-width: 960px) {
  /* line 20, ../sass/include/_othermenus.scss */
  .content_left li.sidecurrent a {
    border-bottom: 2px solid #e7a300;
  }
  /* line 24, ../sass/include/_othermenus.scss */
  .content_left ul li a {
    padding: 10px 0 5px 10px;
    font-size: 18px;
    display: block;
    text-decoration: none;
    border-bottom: 2px solid black;
  }
  /* line 32, ../sass/include/_othermenus.scss */
  .content_left ul li a:hover {
    border-bottom: 2px solid #990036;
  }
  /* line 36, ../sass/include/_othermenus.scss */
  .content_left ul.deepness3 li a {
    padding-left: 5px;
    font-size: 16px;
    margin-left: 20px;
    border-bottom: 1px solid black;
  }
  /* line 43, ../sass/include/_othermenus.scss */
  .content_left ul.deepness3 li a:hover {
    border-bottom: 1px solid #990036;
  }
}
@media (max-width: 959px) {
  /* line 51, ../sass/include/_othermenus.scss */
  .content_left > ul {
    position: relative;
    top: -20px;
    display: block;
    text-align: center;
  }

  /* line 64, ../sass/include/_othermenus.scss */
  .content_left li.sidecurrent a {
    border-bottom: 2px solid #e7a300;
  }
  /* line 68, ../sass/include/_othermenus.scss */
  .content_left ul li a {
    float: left;
    padding: 10px 0 5px 0;
    margin-right: 10px;
    font-size: 16px;
    display: block;
    text-decoration: none;
    border-bottom: 2px solid black;
  }
  /* line 78, ../sass/include/_othermenus.scss */
  .content_left ul li a:hover {
    border-bottom: 2px solid #990036;
  }
  /* line 83, ../sass/include/_othermenus.scss */
  .content_left ul.deepness3 li a {
    font-size: 14px;
    border-bottom: 1px solid black;
  }
  /* line 89, ../sass/include/_othermenus.scss */
  .content_left ul.deepness3 li a:hover {
    border-bottom: 1px solid #990036;
  }
}
/**
 *   SLIDER OWN DEFINITIONS
 */
/* line 5, ../sass/include/_slider.scss */
.slider {
  color: white;
  text-align: left !important;
}
/* line 10, ../sass/include/_slider.scss */
.slider h1 {
  font-size: 36px;
  display: block;
  text-shadow: 2px 2px 3px rgba(51, 51, 51, 0.75);
}
/* line 22, ../sass/include/_slider.scss */
.slider p {
  padding: 10px;
  font-size: 18px;
  display: inline-block;
  background-color: rgba(51, 51, 51, 0.75);
}
/* line 33, ../sass/include/_slider.scss */
.slider a {
  color: white;
}

/**
 *   Mobile
 */
@media (max-width: 959px) {
  /* line 41, ../sass/include/_slider.scss */
  .sliderimg .container {
    padding-right: 20px;
  }
}
/**
 * Height Fix
 */
/* line 49, ../sass/include/_slider.scss */
img.scaleheight {
  width: auto !important;
}

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
/* line 71, ../sass/include/_slider.scss */
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
  max-width: 100%;
}
@media (min-width: 960px) {
  /* line 71, ../sass/include/_slider.scss */
  .bx-wrapper {
    height: 500px !important;
  }
}
@media (max-width: 959px) {
  /* line 71, ../sass/include/_slider.scss */
  .bx-wrapper {
    height: 350px !important;
  }
}

/* line 81, ../sass/include/_slider.scss */
.sliderimg img {
  width: 100%;
  height: auto;
  display: block;
  position: absolute !important;
}

/* line 89, ../sass/include/_slider.scss */
.sliderimg .csc-textpic-text {
  position: relative;
  top: 100px;
  left: 10px;
}

/* line 95, ../sass/include/_slider.scss */
.sliderimg {
  height: 100%;
  width: 100%;
}

/** THEME
===================================*/
/* line 103, ../sass/include/_slider.scss */
.bx-wrapper .bx-viewport {
  background: #fff;
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
@media (min-width: 960px) {
  /* line 103, ../sass/include/_slider.scss */
  .bx-wrapper .bx-viewport {
    height: 500px !important;
  }
}
@media (max-width: 959px) {
  /* line 103, ../sass/include/_slider.scss */
  .bx-wrapper .bx-viewport {
    height: 350px !important;
  }
}

/* line 121, ../sass/include/_slider.scss */
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

/* LOADER */
/* line 130, ../sass/include/_slider.scss */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */
/* line 143, ../sass/include/_slider.scss */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

/* line 152, ../sass/include/_slider.scss */
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

/* line 159, ../sass/include/_slider.scss */
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 5px;
  outline: 0;
  opacity: 0.5;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

/* line 173, ../sass/include/_slider.scss */
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000;
  opacity: 0.8;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
/* line 181, ../sass/include/_slider.scss */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url(images/controls.png) no-repeat 0 -32px;
}

/* line 186, ../sass/include/_slider.scss */
.bx-wrapper .bx-next {
  right: 10px;
  background: url(images/controls.png) no-repeat -43px -32px;
}

/* line 191, ../sass/include/_slider.scss */
.bx-wrapper .bx-prev:hover {
  background-position: 0 0;
}

/* line 195, ../sass/include/_slider.scss */
.bx-wrapper .bx-next:hover {
  background-position: -43px 0;
}

/* line 199, ../sass/include/_slider.scss */
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}

/* line 210, ../sass/include/_slider.scss */
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */
/* line 216, ../sass/include/_slider.scss */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}

/* line 220, ../sass/include/_slider.scss */
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}

/* line 230, ../sass/include/_slider.scss */
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}

/* line 235, ../sass/include/_slider.scss */
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}

/* line 245, ../sass/include/_slider.scss */
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
/* line 252, ../sass/include/_slider.scss */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

/* line 257, ../sass/include/_slider.scss */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */
/* line 264, ../sass/include/_slider.scss */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

/* line 273, ../sass/include/_slider.scss */
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

/**
 *   Fixed Menu and Slider
 */
/* line 5, ../sass/include/_fixedelements.scss */
body.scrollfixed .menu {
  position: fixed;
  background-color: white;
  top: 0px;
  width: 100%;
  z-index: 9999;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

/* line 14, ../sass/include/_fixedelements.scss */
body.scrollfixed .slider {
  position: relative;
  width: 100%;
  top: 100px;
}

/* line 20, ../sass/include/_fixedelements.scss */
body.scrollfixed .titlebar {
  position: relative;
  width: 100%;
  top: 100px;
}

/* line 26, ../sass/include/_fixedelements.scss */
body.scrollfixed .zirkel {
  display: block;
  width: 100%;
  position: relative;
  top: 100px;
}

/* line 33, ../sass/include/_fixedelements.scss */
body.scrollfixed .footer {
  position: relative;
  top: 100px;
}

/*
 * SCROLL UP 
 */
/* line 5, ../sass/include/_scrollup.scss */
.footer .container, .bottom .container, .content .container {
  position: relative;
}

/* line 9, ../sass/include/_scrollup.scss */
.scrollup {
  position: absolute;
  right: 5px;
  z-index: 100;
}
@media (min-width: 960px) {
  /* line 9, ../sass/include/_scrollup.scss */
  .scrollup {
    bottom: 40px;
  }
}
@media (max-width: 959px) {
  /* line 9, ../sass/include/_scrollup.scss */
  .scrollup {
    bottom: 80px;
  }
}

/* line 17, ../sass/include/_scrollup.scss */
.scrollup i {
  font-size: 5em !important;
}

/* line 21, ../sass/include/_scrollup.scss */
.scrollup a {
  color: #555555;
  transition: all 0.5s;
}

/* line 26, ../sass/include/_scrollup.scss */
.scrollup a:hover {
  color: #777777;
}

/* line 3, ../sass/include/_lists.scss */
.content_right ul {
  list-style: outside none none;
  padding: 10px;
  background: #cccccc;
}
/* line 9, ../sass/include/_lists.scss */
.content_right ul li {
  position: relative;
  left: 20px;
  line-height: 30px;
}
/* line 15, ../sass/include/_lists.scss */
.content_right ul li::before {
  content: "\f0c8";
  font-family: "FontAwesome";
  display: inline-block;
  color: #990036;
  font-size: 12px;
  position: relative;
  bottom: 1px;
  width: 1.5em;
  margin-left: -1.5em;
}

/* line 3, ../sass/include/_forms.scss */
.csc-mailform label em {
  text-transform: none;
  color: #990036;
  font-size: 12px;
  line-height: 14px;
}
/* line 10, ../sass/include/_forms.scss */
.csc-mailform .csc-form-element {
  margin: 0 0 10px 0;
}
/* line 14, ../sass/include/_forms.scss */
.csc-mailform textarea, .csc-mailform input[type] {
  border: 1px solid #990036;
  padding: 5px;
  font-size: 16px;
}
@media (min-width: 960px) {
  /* line 14, ../sass/include/_forms.scss */
  .csc-mailform textarea, .csc-mailform input[type] {
    width: 65%;
  }
}
@media (max-width: 959px) {
  /* line 14, ../sass/include/_forms.scss */
  .csc-mailform textarea, .csc-mailform input[type] {
    width: 94%;
  }
}
/* line 22, ../sass/include/_forms.scss */
.csc-mailform input[type="submit"] {
  position: relative;
  background: #990036;
  color: white;
  font-family: "OpenSans", Arial, sans-serif;
}
@media (min-width: 960px) {
  /* line 22, ../sass/include/_forms.scss */
  .csc-mailform input[type="submit"] {
    width: 300px;
  }
}
@media (max-width: 959px) {
  /* line 22, ../sass/include/_forms.scss */
  .csc-mailform input[type="submit"] {
    width: 94%;
  }
}
@media (min-width: 960px) {
  /* line 22, ../sass/include/_forms.scss */
  .csc-mailform input[type="submit"] {
    left: 224px;
  }
}
/* line 35, ../sass/include/_forms.scss */
.csc-mailform label {
  position: relative;
}
/* line 39, ../sass/include/_forms.scss */
.csc-mailform strong {
  display: inline-block;
  padding: 8px;
  background: #cccccc;
  position: relative;
  margin-bottom: 5px;
  top: 3px;
  color: #990036;
  font-style: italic;
  font-size: 12px;
  text-transform: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

/* line 34, ../sass/screen.scss */
html, body {
  font-family: "OpenSans", Arial, sans-serif;
  height: auto;
}

@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: device-width;
  }
}
/* line 306, ../sass/gridle/_generate-mixins.scss */
#gridle-settings {
  content: '{ "version" : "1.3.38", "states" : { "retina":{ "query" : "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)", "classes" : false, "name" : "retina", "_gridle" : true }, "tv":{ "query" : "only tv", "classes" : false, "name" : "tv", "_gridle" : true }, "print":{ "query" : "only print", "classes" : false, "name" : "print", "_gridle" : true }, "portrait":{ "query" : "only screen and (orientation: portrait)", "classes" : false, "name" : "portrait", "_gridle" : true }, "landscape":{ "query" : "only screen and (orientation: landscape)", "classes" : false, "name" : "landscape", "_gridle" : true }, "default":{ "name" : "default", "min-width" : null, "max-width" : null, "query" : null, "classes" : true, "context" : "12", "gutter-width" : "20px", "direction" : "ltr", "name-multiplicator" : "1", "debug" : false, "debug-show-class-names" : true, "ie7-support" : false, "html-states-classes" : false, "generate-push-classes" : true, "generate-pull-classes" : true, "generate-prefix-classes" : true, "generate-suffix-classes" : true, "generate-helpers-classes" : true, "_gridle" : true }, "mobile":{ "name" : "mobile", "min-width" : null, "max-width" : "959px", "query" : "screen and (max-width: 959px)", "classes" : true, "context" : "12", "gutter-width" : "20px", "direction" : "ltr", "name-multiplicator" : "1", "debug" : false, "debug-show-class-names" : true, "ie7-support" : false, "html-states-classes" : false, "generate-push-classes" : true, "generate-pull-classes" : true, "generate-prefix-classes" : true, "generate-suffix-classes" : true, "generate-helpers-classes" : true, "_gridle" : true }} }';
}

/* line 502, ../sass/gridle/_generate-mixins.scss */
.grid-5on18, .grid-0, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-mobile-5on18, .grid-mobile-0, .grid-mobile-1, .grid-mobile-2, .grid-mobile-3, .grid-mobile-4, .grid-mobile-5, .grid-mobile-6, .grid-mobile-7, .grid-mobile-8, .grid-mobile-9, .grid-mobile-10, .grid-mobile-11, .grid-mobile-12 {
  float: left;
  direction: ltr;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 591, ../sass/gridle/_generate-mixins.scss */
.grid-5on18 {
  width: 27.77778%;
}

/* line 596, ../sass/gridle/_generate-mixins.scss */
.push-5on18 {
  left: 27.77778%;
}

/* line 601, ../sass/gridle/_generate-mixins.scss */
.pull-5on18 {
  right: 27.77778%;
}

/* line 606, ../sass/gridle/_generate-mixins.scss */
.prefix-5on18 {
  margin-left: 27.77778%;
}

/* line 611, ../sass/gridle/_generate-mixins.scss */
.suffix-5on18 {
  margin-right: 27.77778%;
}

/* line 591, ../sass/gridle/_generate-mixins.scss */
.grid-0 {
  width: 0%;
}

/* line 596, ../sass/gridle/_generate-mixins.scss */
.push-0 {
  left: 0%;
}

/* line 601, ../sass/gridle/_generate-mixins.scss */
.pull-0 {
  right: 0%;
}

/* line 606, ../sass/gridle/_generate-mixins.scss */
.prefix-0 {
  margin-left: 0%;
}

/* line 611, ../sass/gridle/_generate-mixins.scss */
.suffix-0 {
  margin-right: 0%;
}

/* line 591, ../sass/gridle/_generate-mixins.scss */
.grid-1 {
  width: 8.33333%;
}

/* line 596, ../sass/gridle/_generate-mixins.scss */
.push-1 {
  left: 8.33333%;
}

/* line 601, ../sass/gridle/_generate-mixins.scss */
.pull-1 {
  right: 8.33333%;
}

/* line 606, ../sass/gridle/_generate-mixins.scss */
.prefix-1 {
  margin-left: 8.33333%;
}

/* line 611, ../sass/gridle/_generate-mixins.scss */
.suffix-1 {
  margin-right: 8.33333%;
}

/* line 591, ../sass/gridle/_generate-mixins.scss */
.grid-2 {
  width: 16.66667%;
}

/* line 596, ../sass/gridle/_generate-mixins.scss */
.push-2 {
  left: 16.66667%;
}

/* line 601, ../sass/gridle/_generate-mixins.scss */
.pull-2 {
  right: 16.66667%;
}

/* line 606, ../sass/gridle/_generate-mixins.scss */
.prefix-2 {
  margin-left: 16.66667%;
}

/* line 611, ../sass/gridle/_generate-mixins.scss */
.suffix-2 {
  margin-right: 16.66667%;
}

/* line 591, ../sass/gridle/_generate-mixins.scss */
.grid-3 {
  width: 25%;
}

/* line 596, ../sass/gridle/_generate-mixins.scss */
.push-3 {
  left: 25.0%;
}

/* line 601, ../sass/gridle/_generate-mixins.scss */
.pull-3 {
  right: 25.0%;
}

/* line 606, ../sass/gridle/_generate-mixins.scss */
.prefix-3 {
  margin-left: 25.0%;
}

/* line 611, ../sass/gridle/_generate-mixins.scss */
.suffix-3 {
  margin-right: 25.0%;
}

/* line 591, ../sass/gridle/_generate-mixins.scss */
.grid-4 {
  width: 33.33333%;
}

/* line 596, ../sass/gridle/_generate-mixins.scss */
.push-4 {
  left: 33.33333%;
}

/* line 601, ../sass/gridle/_generate-mixins.scss */
.pull-4 {
  right: 33.33333%;
}

/* line 606, ../sass/gridle/_generate-mixins.scss */
.prefix-4 {
  margin-left: 33.33333%;
}

/* line 611, ../sass/gridle/_generate-mixins.scss */
.suffix-4 {
  margin-right: 33.33333%;
}

/* line 591, ../sass/gridle/_generate-mixins.scss */
.grid-5 {
  width: 41.66667%;
}

/* line 596, ../sass/gridle/_generate-mixins.scss */
.push-5 {
  left: 41.66667%;
}

/* line 601, ../sass/gridle/_generate-mixins.scss */
.pull-5 {
  right: 41.66667%;
}

/* line 606, ../sass/gridle/_generate-mixins.scss */
.prefix-5 {
  margin-left: 41.66667%;
}

/* line 611, ../sass/gridle/_generate-mixins.scss */
.suffix-5 {
  margin-right: 41.66667%;
}

/* line 591, ../sass/gridle/_generate-mixins.scss */
.grid-6 {
  width: 50%;
}

/* line 596, ../sass/gridle/_generate-mixins.scss */
.push-6 {
  left: 50.0%;
}

/* line 601, ../sass/gridle/_generate-mixins.scss */
.pull-6 {
  right: 50.0%;
}

/* line 606, ../sass/gridle/_generate-mixins.scss */
.prefix-6 {
  margin-left: 50.0%;
}

/* line 611, ../sass/gridle/_generate-mixins.scss */
.suffix-6 {
  margin-right: 50.0%;
}

/* line 591, ../sass/gridle/_generate-mixins.scss */
.grid-7 {
  width: 58.33333%;
}

/* line 596, ../sass/gridle/_generate-mixins.scss */
.push-7 {
  left: 58.33333%;
}

/* line 601, ../sass/gridle/_generate-mixins.scss */
.pull-7 {
  right: 58.33333%;
}

/* line 606, ../sass/gridle/_generate-mixins.scss */
.prefix-7 {
  margin-left: 58.33333%;
}

/* line 611, ../sass/gridle/_generate-mixins.scss */
.suffix-7 {
  margin-right: 58.33333%;
}

/* line 591, ../sass/gridle/_generate-mixins.scss */
.grid-8 {
  width: 66.66667%;
}

/* line 596, ../sass/gridle/_generate-mixins.scss */
.push-8 {
  left: 66.66667%;
}

/* line 601, ../sass/gridle/_generate-mixins.scss */
.pull-8 {
  right: 66.66667%;
}

/* line 606, ../sass/gridle/_generate-mixins.scss */
.prefix-8 {
  margin-left: 66.66667%;
}

/* line 611, ../sass/gridle/_generate-mixins.scss */
.suffix-8 {
  margin-right: 66.66667%;
}

/* line 591, ../sass/gridle/_generate-mixins.scss */
.grid-9 {
  width: 75%;
}

/* line 596, ../sass/gridle/_generate-mixins.scss */
.push-9 {
  left: 75.0%;
}

/* line 601, ../sass/gridle/_generate-mixins.scss */
.pull-9 {
  right: 75.0%;
}

/* line 606, ../sass/gridle/_generate-mixins.scss */
.prefix-9 {
  margin-left: 75.0%;
}

/* line 611, ../sass/gridle/_generate-mixins.scss */
.suffix-9 {
  margin-right: 75.0%;
}

/* line 591, ../sass/gridle/_generate-mixins.scss */
.grid-10 {
  width: 83.33333%;
}

/* line 596, ../sass/gridle/_generate-mixins.scss */
.push-10 {
  left: 83.33333%;
}

/* line 601, ../sass/gridle/_generate-mixins.scss */
.pull-10 {
  right: 83.33333%;
}

/* line 606, ../sass/gridle/_generate-mixins.scss */
.prefix-10 {
  margin-left: 83.33333%;
}

/* line 611, ../sass/gridle/_generate-mixins.scss */
.suffix-10 {
  margin-right: 83.33333%;
}

/* line 591, ../sass/gridle/_generate-mixins.scss */
.grid-11 {
  width: 91.66667%;
}

/* line 596, ../sass/gridle/_generate-mixins.scss */
.push-11 {
  left: 91.66667%;
}

/* line 601, ../sass/gridle/_generate-mixins.scss */
.pull-11 {
  right: 91.66667%;
}

/* line 606, ../sass/gridle/_generate-mixins.scss */
.prefix-11 {
  margin-left: 91.66667%;
}

/* line 611, ../sass/gridle/_generate-mixins.scss */
.suffix-11 {
  margin-right: 91.66667%;
}

/* line 591, ../sass/gridle/_generate-mixins.scss */
.grid-12 {
  width: 100%;
}

/* line 596, ../sass/gridle/_generate-mixins.scss */
.push-12 {
  left: 100.0%;
}

/* line 601, ../sass/gridle/_generate-mixins.scss */
.pull-12 {
  right: 100.0%;
}

/* line 606, ../sass/gridle/_generate-mixins.scss */
.prefix-12 {
  margin-left: 100.0%;
}

/* line 611, ../sass/gridle/_generate-mixins.scss */
.suffix-12 {
  margin-right: 100.0%;
}

/* line 62, ../sass/gridle/_generate-mixins.scss */
.float-left {
  float: left;
}

/* line 65, ../sass/gridle/_generate-mixins.scss */
.float-right {
  float: right;
}

/* line 71, ../sass/gridle/_generate-mixins.scss */
.clear {
  clear: both;
}

/* line 74, ../sass/gridle/_generate-mixins.scss */
.clear-left {
  clear: left;
}

/* line 77, ../sass/gridle/_generate-mixins.scss */
.clear-right {
  clear: right;
}

/* line 83, ../sass/gridle/_generate-mixins.scss */
.no-gutter,
.no-margin {
  padding-left: 0;
  padding-right: 0;
}

/* line 87, ../sass/gridle/_generate-mixins.scss */
.no-gutter-left,
.no-margin-left {
  padding-left: 0;
}

/* line 91, ../sass/gridle/_generate-mixins.scss */
.no-gutter-right,
.no-margin-right {
  padding-right: 0;
}

/* line 95, ../sass/gridle/_generate-mixins.scss */
.no-gutter-top,
.no-margin-top {
  padding-top: 0;
}

/* line 99, ../sass/gridle/_generate-mixins.scss */
.no-gutter-bottom,
.no-margin-bottom {
  padding-bottom: 0;
}

/* line 106, ../sass/gridle/_generate-mixins.scss */
.gutter,
.margins {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 110, ../sass/gridle/_generate-mixins.scss */
.gutter-left,
.margin-left {
  padding-left: 10px;
}

/* line 114, ../sass/gridle/_generate-mixins.scss */
.gutter-right,
.margin-right {
  padding-right: 10px;
}

/* line 118, ../sass/gridle/_generate-mixins.scss */
.gutter-top,
.margin-top {
  padding-top: 10px;
}

/* line 122, ../sass/gridle/_generate-mixins.scss */
.gutter-bottom,
.margin-bottom {
  padding-bottom: 10px;
}

/* line 129, ../sass/gridle/_generate-mixins.scss */
.auto-height {
  height: inherit;
}

/* line 135, ../sass/gridle/_generate-mixins.scss */
.centered {
  display: block !important;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  clear: both !important;
}

/* line 141, ../sass/gridle/_generate-mixins.scss */
.parent {
  padding-left: 0;
  padding-right: 0;
}

/* line 147, ../sass/gridle/_generate-mixins.scss */
.vertical-align-middle {
  font-size: 0;
  clear: both;
}
/* line 618, ../sass/gridle/_mixins.scss */
.vertical-align-middle > * {
  display: inline-block;
  float: none !important;
  vertical-align: middle;
  font-size: 1rem;
}

/* line 150, ../sass/gridle/_generate-mixins.scss */
.vertical-align-top {
  font-size: 0;
  clear: both;
}
/* line 618, ../sass/gridle/_mixins.scss */
.vertical-align-top > * {
  display: inline-block;
  float: none !important;
  vertical-align: top;
  font-size: 1rem;
}

/* line 153, ../sass/gridle/_generate-mixins.scss */
.vertical-align-bottom {
  font-size: 0;
  clear: both;
}
/* line 618, ../sass/gridle/_mixins.scss */
.vertical-align-bottom > * {
  display: inline-block;
  float: none !important;
  vertical-align: bottom;
  font-size: 1rem;
}

/**
 * Visible, hide, etc...
 */
/* line 162, ../sass/gridle/_generate-mixins.scss */
.hide {
  display: none;
}

/* line 168, ../sass/gridle/_generate-mixins.scss */
.not-visible {
  visibility: hidden;
}

/* line 174, ../sass/gridle/_generate-mixins.scss */
.show {
  display: block;
}

/* line 177, ../sass/gridle/_generate-mixins.scss */
.show-inline {
  display: inline-block;
}

/* line 183, ../sass/gridle/_generate-mixins.scss */
.visible {
  visibility: visible;
}

/**
 * Clear each class :
 */
/* line 548, ../sass/gridle/_mixins.scss */
.clear-each-2 > *:nth-child(2n+1) {
  clear: left;
}

/* line 548, ../sass/gridle/_mixins.scss */
.clear-each-12 > *:nth-child(12n+1) {
  clear: both;
}

@media screen and (max-width: 959px) {
  /* line 591, ../sass/gridle/_generate-mixins.scss */
  .grid-mobile-5on18 {
    width: 27.77778%;
  }

  /* line 596, ../sass/gridle/_generate-mixins.scss */
  .push-mobile-5on18 {
    left: 27.77778%;
  }

  /* line 601, ../sass/gridle/_generate-mixins.scss */
  .pull-mobile-5on18 {
    right: 27.77778%;
  }

  /* line 606, ../sass/gridle/_generate-mixins.scss */
  .prefix-mobile-5on18 {
    margin-left: 27.77778%;
  }

  /* line 611, ../sass/gridle/_generate-mixins.scss */
  .suffix-mobile-5on18 {
    margin-right: 27.77778%;
  }

  /* line 591, ../sass/gridle/_generate-mixins.scss */
  .grid-mobile-0 {
    width: 0%;
  }

  /* line 596, ../sass/gridle/_generate-mixins.scss */
  .push-mobile-0 {
    left: 0%;
  }

  /* line 601, ../sass/gridle/_generate-mixins.scss */
  .pull-mobile-0 {
    right: 0%;
  }

  /* line 606, ../sass/gridle/_generate-mixins.scss */
  .prefix-mobile-0 {
    margin-left: 0%;
  }

  /* line 611, ../sass/gridle/_generate-mixins.scss */
  .suffix-mobile-0 {
    margin-right: 0%;
  }

  /* line 591, ../sass/gridle/_generate-mixins.scss */
  .grid-mobile-1 {
    width: 8.33333%;
  }

  /* line 596, ../sass/gridle/_generate-mixins.scss */
  .push-mobile-1 {
    left: 8.33333%;
  }

  /* line 601, ../sass/gridle/_generate-mixins.scss */
  .pull-mobile-1 {
    right: 8.33333%;
  }

  /* line 606, ../sass/gridle/_generate-mixins.scss */
  .prefix-mobile-1 {
    margin-left: 8.33333%;
  }

  /* line 611, ../sass/gridle/_generate-mixins.scss */
  .suffix-mobile-1 {
    margin-right: 8.33333%;
  }

  /* line 591, ../sass/gridle/_generate-mixins.scss */
  .grid-mobile-2 {
    width: 16.66667%;
  }

  /* line 596, ../sass/gridle/_generate-mixins.scss */
  .push-mobile-2 {
    left: 16.66667%;
  }

  /* line 601, ../sass/gridle/_generate-mixins.scss */
  .pull-mobile-2 {
    right: 16.66667%;
  }

  /* line 606, ../sass/gridle/_generate-mixins.scss */
  .prefix-mobile-2 {
    margin-left: 16.66667%;
  }

  /* line 611, ../sass/gridle/_generate-mixins.scss */
  .suffix-mobile-2 {
    margin-right: 16.66667%;
  }

  /* line 591, ../sass/gridle/_generate-mixins.scss */
  .grid-mobile-3 {
    width: 25%;
  }

  /* line 596, ../sass/gridle/_generate-mixins.scss */
  .push-mobile-3 {
    left: 25.0%;
  }

  /* line 601, ../sass/gridle/_generate-mixins.scss */
  .pull-mobile-3 {
    right: 25.0%;
  }

  /* line 606, ../sass/gridle/_generate-mixins.scss */
  .prefix-mobile-3 {
    margin-left: 25.0%;
  }

  /* line 611, ../sass/gridle/_generate-mixins.scss */
  .suffix-mobile-3 {
    margin-right: 25.0%;
  }

  /* line 591, ../sass/gridle/_generate-mixins.scss */
  .grid-mobile-4 {
    width: 33.33333%;
  }

  /* line 596, ../sass/gridle/_generate-mixins.scss */
  .push-mobile-4 {
    left: 33.33333%;
  }

  /* line 601, ../sass/gridle/_generate-mixins.scss */
  .pull-mobile-4 {
    right: 33.33333%;
  }

  /* line 606, ../sass/gridle/_generate-mixins.scss */
  .prefix-mobile-4 {
    margin-left: 33.33333%;
  }

  /* line 611, ../sass/gridle/_generate-mixins.scss */
  .suffix-mobile-4 {
    margin-right: 33.33333%;
  }

  /* line 591, ../sass/gridle/_generate-mixins.scss */
  .grid-mobile-5 {
    width: 41.66667%;
  }

  /* line 596, ../sass/gridle/_generate-mixins.scss */
  .push-mobile-5 {
    left: 41.66667%;
  }

  /* line 601, ../sass/gridle/_generate-mixins.scss */
  .pull-mobile-5 {
    right: 41.66667%;
  }

  /* line 606, ../sass/gridle/_generate-mixins.scss */
  .prefix-mobile-5 {
    margin-left: 41.66667%;
  }

  /* line 611, ../sass/gridle/_generate-mixins.scss */
  .suffix-mobile-5 {
    margin-right: 41.66667%;
  }

  /* line 591, ../sass/gridle/_generate-mixins.scss */
  .grid-mobile-6 {
    width: 50%;
  }

  /* line 596, ../sass/gridle/_generate-mixins.scss */
  .push-mobile-6 {
    left: 50.0%;
  }

  /* line 601, ../sass/gridle/_generate-mixins.scss */
  .pull-mobile-6 {
    right: 50.0%;
  }

  /* line 606, ../sass/gridle/_generate-mixins.scss */
  .prefix-mobile-6 {
    margin-left: 50.0%;
  }

  /* line 611, ../sass/gridle/_generate-mixins.scss */
  .suffix-mobile-6 {
    margin-right: 50.0%;
  }

  /* line 591, ../sass/gridle/_generate-mixins.scss */
  .grid-mobile-7 {
    width: 58.33333%;
  }

  /* line 596, ../sass/gridle/_generate-mixins.scss */
  .push-mobile-7 {
    left: 58.33333%;
  }

  /* line 601, ../sass/gridle/_generate-mixins.scss */
  .pull-mobile-7 {
    right: 58.33333%;
  }

  /* line 606, ../sass/gridle/_generate-mixins.scss */
  .prefix-mobile-7 {
    margin-left: 58.33333%;
  }

  /* line 611, ../sass/gridle/_generate-mixins.scss */
  .suffix-mobile-7 {
    margin-right: 58.33333%;
  }

  /* line 591, ../sass/gridle/_generate-mixins.scss */
  .grid-mobile-8 {
    width: 66.66667%;
  }

  /* line 596, ../sass/gridle/_generate-mixins.scss */
  .push-mobile-8 {
    left: 66.66667%;
  }

  /* line 601, ../sass/gridle/_generate-mixins.scss */
  .pull-mobile-8 {
    right: 66.66667%;
  }

  /* line 606, ../sass/gridle/_generate-mixins.scss */
  .prefix-mobile-8 {
    margin-left: 66.66667%;
  }

  /* line 611, ../sass/gridle/_generate-mixins.scss */
  .suffix-mobile-8 {
    margin-right: 66.66667%;
  }

  /* line 591, ../sass/gridle/_generate-mixins.scss */
  .grid-mobile-9 {
    width: 75%;
  }

  /* line 596, ../sass/gridle/_generate-mixins.scss */
  .push-mobile-9 {
    left: 75.0%;
  }

  /* line 601, ../sass/gridle/_generate-mixins.scss */
  .pull-mobile-9 {
    right: 75.0%;
  }

  /* line 606, ../sass/gridle/_generate-mixins.scss */
  .prefix-mobile-9 {
    margin-left: 75.0%;
  }

  /* line 611, ../sass/gridle/_generate-mixins.scss */
  .suffix-mobile-9 {
    margin-right: 75.0%;
  }

  /* line 591, ../sass/gridle/_generate-mixins.scss */
  .grid-mobile-10 {
    width: 83.33333%;
  }

  /* line 596, ../sass/gridle/_generate-mixins.scss */
  .push-mobile-10 {
    left: 83.33333%;
  }

  /* line 601, ../sass/gridle/_generate-mixins.scss */
  .pull-mobile-10 {
    right: 83.33333%;
  }

  /* line 606, ../sass/gridle/_generate-mixins.scss */
  .prefix-mobile-10 {
    margin-left: 83.33333%;
  }

  /* line 611, ../sass/gridle/_generate-mixins.scss */
  .suffix-mobile-10 {
    margin-right: 83.33333%;
  }

  /* line 591, ../sass/gridle/_generate-mixins.scss */
  .grid-mobile-11 {
    width: 91.66667%;
  }

  /* line 596, ../sass/gridle/_generate-mixins.scss */
  .push-mobile-11 {
    left: 91.66667%;
  }

  /* line 601, ../sass/gridle/_generate-mixins.scss */
  .pull-mobile-11 {
    right: 91.66667%;
  }

  /* line 606, ../sass/gridle/_generate-mixins.scss */
  .prefix-mobile-11 {
    margin-left: 91.66667%;
  }

  /* line 611, ../sass/gridle/_generate-mixins.scss */
  .suffix-mobile-11 {
    margin-right: 91.66667%;
  }

  /* line 591, ../sass/gridle/_generate-mixins.scss */
  .grid-mobile-12 {
    width: 100%;
  }

  /* line 596, ../sass/gridle/_generate-mixins.scss */
  .push-mobile-12 {
    left: 100.0%;
  }

  /* line 601, ../sass/gridle/_generate-mixins.scss */
  .pull-mobile-12 {
    right: 100.0%;
  }

  /* line 606, ../sass/gridle/_generate-mixins.scss */
  .prefix-mobile-12 {
    margin-left: 100.0%;
  }

  /* line 611, ../sass/gridle/_generate-mixins.scss */
  .suffix-mobile-12 {
    margin-right: 100.0%;
  }

  /* line 62, ../sass/gridle/_generate-mixins.scss */
  .float-mobile-left {
    float: left;
  }

  /* line 65, ../sass/gridle/_generate-mixins.scss */
  .float-mobile-right {
    float: right;
  }

  /* line 71, ../sass/gridle/_generate-mixins.scss */
  .clear-mobile {
    clear: both;
  }

  /* line 74, ../sass/gridle/_generate-mixins.scss */
  .clear-mobile-left {
    clear: left;
  }

  /* line 77, ../sass/gridle/_generate-mixins.scss */
  .clear-mobile-right {
    clear: right;
  }

  /* line 83, ../sass/gridle/_generate-mixins.scss */
  .no-gutter-mobile,
  .no-margin-mobile {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 87, ../sass/gridle/_generate-mixins.scss */
  .no-gutter-mobile-left,
  .no-margin-mobile-left {
    padding-left: 0;
  }

  /* line 91, ../sass/gridle/_generate-mixins.scss */
  .no-gutter-mobile-right,
  .no-margin-mobile-right {
    padding-right: 0;
  }

  /* line 95, ../sass/gridle/_generate-mixins.scss */
  .no-gutter-mobile-top,
  .no-margin-mobile-top {
    padding-top: 0;
  }

  /* line 99, ../sass/gridle/_generate-mixins.scss */
  .no-gutter-mobile-bottom,
  .no-margin-mobile-bottom {
    padding-bottom: 0;
  }

  /* line 106, ../sass/gridle/_generate-mixins.scss */
  .gutter-mobile,
  .margins-mobile {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 110, ../sass/gridle/_generate-mixins.scss */
  .gutter-mobile-left,
  .margin-mobile-left {
    padding-left: 10px;
  }

  /* line 114, ../sass/gridle/_generate-mixins.scss */
  .gutter-mobile-right,
  .margin-mobile-right {
    padding-right: 10px;
  }

  /* line 118, ../sass/gridle/_generate-mixins.scss */
  .gutter-mobile-top,
  .margin-mobile-top {
    padding-top: 10px;
  }

  /* line 122, ../sass/gridle/_generate-mixins.scss */
  .gutter-mobile-bottom,
  .margin-mobile-bottom {
    padding-bottom: 10px;
  }

  /* line 129, ../sass/gridle/_generate-mixins.scss */
  .auto-height-mobile {
    height: inherit;
  }

  /* line 135, ../sass/gridle/_generate-mixins.scss */
  .centered-mobile {
    display: block !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both !important;
  }

  /* line 141, ../sass/gridle/_generate-mixins.scss */
  .parent-mobile {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 147, ../sass/gridle/_generate-mixins.scss */
  .vertical-align-mobile-middle {
    font-size: 0;
    clear: both;
  }
  /* line 618, ../sass/gridle/_mixins.scss */
  .vertical-align-mobile-middle > * {
    display: inline-block;
    float: none !important;
    vertical-align: middle;
    font-size: 1rem;
  }

  /* line 150, ../sass/gridle/_generate-mixins.scss */
  .vertical-align-mobile-top {
    font-size: 0;
    clear: both;
  }
  /* line 618, ../sass/gridle/_mixins.scss */
  .vertical-align-mobile-top > * {
    display: inline-block;
    float: none !important;
    vertical-align: top;
    font-size: 1rem;
  }

  /* line 153, ../sass/gridle/_generate-mixins.scss */
  .vertical-align-mobile-bottom {
    font-size: 0;
    clear: both;
  }
  /* line 618, ../sass/gridle/_mixins.scss */
  .vertical-align-mobile-bottom > * {
    display: inline-block;
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem;
  }

  /**
   * Visible, hide, etc...
   */
  /* line 162, ../sass/gridle/_generate-mixins.scss */
  .hide-mobile {
    display: none;
  }

  /* line 168, ../sass/gridle/_generate-mixins.scss */
  .not-visible-mobile {
    visibility: hidden;
  }

  /* line 174, ../sass/gridle/_generate-mixins.scss */
  .show-mobile {
    display: block;
  }

  /* line 177, ../sass/gridle/_generate-mixins.scss */
  .show-inline-mobile {
    display: inline-block;
  }

  /* line 183, ../sass/gridle/_generate-mixins.scss */
  .visible-mobile {
    visibility: visible;
  }

  /**
   * Clear each class :
   */
  /* line 548, ../sass/gridle/_mixins.scss */
  .clear-each-mobile-2 > *:nth-child(2n+1) {
    clear: left;
  }

  /* line 548, ../sass/gridle/_mixins.scss */
  .clear-each-mobile-12 > *:nth-child(12n+1) {
    clear: both;
  }
}
