/**
 *   Class Definitions - Reusables
 */

 .floatl {
   float: left;
 }
 
.tacenter {
  text-align: center;
}

.tajustify {
  text-align: justify;
}

.hidden {
display: none !important;
}

.xtra-70px {
	margin-bottom: 70px !important;
}
