/*
 * General Layout
 */

.container {
  width: 960px;
  margin: 0 auto;
}

/**
 *   Top Definitions
 */
.top {
  height: $topfooterheight;
  line-height: $topfooterheight;
  background: $gray1;
  color: white;
  font-size: $smaller;
}

.top a , .footer a {
  text-decoration: underline;
  color: white;
}

.top i.fa {
  font-size: $regular;
  margin-right: 10px;
}

.top span.phone {
  margin-right: 20px;
}

/**
 *   Footer Definitions
 */

.footer {
  height: $topfooterheight;
  line-height: $topfooterheight;
  background: $gray1;
  color: white;
  font-size: $smaller;
}

.footer i.fa {
   font-size: $regular;
   margin-right: 10px;
}

.footer_right {
  text-align: right;
}

/**
 *   Menu Definitions
 */
.menu {
  height: $menuheight;
  background: white;
}

/**
 *   Slider Definitions
 */

.slider {
  height: $sliderheight;
  //background: $accent;
  background: url('../images/Das_Haus_online.jpg') no-repeat center center;
  background-size: cover;
}

/**
 *   Shortcode Definitions
 */

.shortcodes {
  padding: 20px 0;
  height: $shortcodesheight;
  background: $lightgray2; 
}

/**
 *   Content Definitions
 */

.content {
  padding: 20px 0;
  min-height: 200px;
  background: white;
}

/**
 *   Bottom Definitions
 */

.bottom {
  padding: 20px 0;
  height: $shortcodesheight;
  background: $lightgray2; 
}

.bottom_left i.fa {
  width: 30px;
  font-size: $regular;
}

.bottom_left h1 {
  
}

