/*
 * General Layout
 */

.container {
  width: 960px;
  margin: 0 auto;
}

/**
 *   Top Definitions
 */
.top {
  height: $topfooterheight;
  line-height: $topfooterheight;
  background: $gray1;
  color: white;
  font-size: $small;
}

.top a , .footer a {
  text-decoration: underline;
  color: white;
}

.top i.fa {
  font-size: $regular;
  margin-right: 5px;
}

.top span.phone {
  margin-right: 20px;
}

.top_right {
  text-align: right;
}

/**
 *   Footer Definitions
 */

.footer {
  height: $topfooterheight;
  line-height: $topfooterheight;
  background: $gray1;
  color: white;
  font-size: $small;
}

.footer i.fa {
   font-size: $regular;
   margin-right: 5px;
}

.footer_left, .footer_right {
  height: $topfooterheight;  
}

.footer_right {
  text-align: right;
}

/**
 *   Menu Definitions
 */
.menu {
  height: $menuheight;
  background: white;
}

.menu_right {
  position: relative;
}

.menu_right img {
  position: absolute;
  right: 10px; 
  width: 235px;
  height: 80px;
  padding: 10px 0;
}

/**
 *   Slider Definitions
 */

.slider {
  height: $sliderheight;
  //background: $accent;
  background: url('../images/Das_Haus_online.jpg') no-repeat center center;
  background-size: cover;
}

/** 
 *   Zirkel Background
 */

.zirkel {
  position: relative;
 // top: $topfooterheight + $menuheight + $sliderheight;
  display: block;
  z-index: 1;
  background: url('../images/zirkel_trans20.png') no-repeat top right;
}

/**
 *   Titlebar Definitions
 */
.titlebar {
    height: 200px;
    color: white;
    background: url('../images/Das_Haus_online.jpg') no-repeat center center;
    background-size: cover;
}
/**
 *   Shortcode Definitions
 */

.shortcodes {
    padding: 40px 0;
 // height: $shortcodesheight;
  background: rgba(155,155,155,0.5);// Was lightgray 
}

.shortcodes > div {
  position: relative;
 // display: inline-block;
}

.shortcodes_left h1 {
  border-bottom: 2px solid $schwarz;
  margin: -5px 0 20px 0 ;
}
.shortcodes_middle h1 {
  border-bottom: 2px solid $weinrot;
  margin: -5px 0 20px 0 ;
}

.shortcodes_right h1 {
  border-bottom: 2px solid $gold;
  margin: -5px 0 20px 0 ;
}

.sc_item {
  // Die Rahmen
 //margin: 5px;
 position: relative;
 z-index: 500;
  padding: 15px;
  background-color: rgba(255,255,255,0.8);
  min-height: 350px; // TODO Fix per Javascript
}

.sc_item i {
  margin-bottom: 10px;
  color: $gray2;
  font-size: 8em;
}

.sc_item a {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/**
 *   Content Definitions
 */

.content {
  position: relative;
  z-index: 0;
  padding: 40px 0;
  min-height: 500px;
  background: none;
}

.content {
  h1  {
    font-size: 28px;
    font-weight: bold;
  }
}

/**
 *   Bottom Definitions
 */

.bottom {
  padding: 40px 0;
 // height: $shortcodesheight;
  background: rgba(155,155,155,0.5); // Was lightgray 
}

.bottom_left i.fa {
  width: 30px;
  font-size: $regular;
}

.bottom_left p {
  line-height: 20px;
  margin-bottom: 20px;
}

.bottom_left h1 {
  border-bottom: 2px solid $schwarz;
  margin: 0 0 20px 0 ;
}
.bottom_middle h1 {
  border-bottom: 2px solid $weinrot;
  margin: 0 0 20px 0 ;
}

.bottom_right h1 {
  border-bottom: 2px solid $gold;
  margin: 0 0 20px 0 ;
}

