/** 
 *   Main Menu 
 */
ul.mainmenu {
  list-style-type: none;
  
}

.burger {
	height: 32px;
	width: 32px;
	div {
		height: 2px;
		background-color: $gray1;
		margin: 9px 0 ;
	}
}


ul.mainmenu {
  @include breakpoint (desktop) {
	  li {
		display: inline-block;
	  }
	  
	  li a {
		margin: 25px 0;
		letter-spacing: 2px;
		padding: 0 10px;
		height: 50px;
		line-height: 50px;
		font-weight: bold;
		color: black;
		text-decoration: none;
		background-color: white;
		//border-bottom: 3px solid $gray2;
		display: block;
		transition: all 0.3s;
	  }
	  
	  li a:hover {
		background-color: $weinrot;
		color: white;
	  }
  }
  
  @include breakpoint (phone) {
	li a {
		width: 100%;
		background-color: $gray2;
		display: block;
		margin: 0 -10px;
	}
  }
}
