.bottom_right, .bottom_middle {
  a {
    line-height: 150%;
  }
}

.bottom_middle a {
	//font-size: $small;
	display: inline-block;
}

// Sidemenu
 @include breakpoint(desktop) {
  .content_left{
  
  	 ul li {
  		//display: block;
  	}
  	
  	ul li a {
  		padding: 10px 0 5px 0 ;
  		font-size: 18px;
  		display:block;
  		text-decoration: none;
  		border-bottom: 2px solid $gray1;
  	}
  	
  	ul li a:hover {
  		border-bottom: 2px solid $weinrot;
  	}
  }
}

 @include breakpoint(phone) {
  .content_left{
   
     ul  {
       text-align: center;
      // list-style-type: none;
      display: inline-block;
    }
    
    ul li a {
      float: left;
      padding: 10px 0 5px 0 ;
      font-size: 16px;
      display: block;
      text-decoration: none;
      border-bottom: 2px solid $gray1;
    }
    
    ul li a:hover {
      border-bottom: 2px solid $weinrot;
    }
  }
}