.bottom_right, .bottom_middle {
  a {
    line-height: 150%;
  }
}

.bottom_middle a {
	//font-size: $small;
	display: inline-block;
}

// Sidemenu
 @include breakpoint(desktop) {
  .content_left{
  
  	 ul li {
  		//display: block;
  	}
  	
  	 li.sidecurrent a {
      border-bottom: 2px solid $gold;
    }
  	
  	ul li a {
  		padding: 10px 0 5px 10px ;
  		font-size: 18px;
  		display:block;
  		text-decoration: none;
  		border-bottom: 2px solid $schwarz;
  	}
  	
  	ul li a:hover {
  		border-bottom: 2px solid $weinrot;
  	}
  	
  	ul.deepness3 li a {
  	  padding-left: 5px;
      font-size: 16px;
      margin-left: $stdmargin;
      border-bottom: 1px solid $schwarz;
    }
    
    ul.deepness3 li a:hover {
      border-bottom: 1px solid $weinrot;
    }
  }
}

 @include breakpoint(phone) {
   
   .content_left  > ul {
       position: relative;
       top: -20px;
       display: block;
     //  margin-bottom: 10px;
       text-align: center;
      // list-style-type: none;
     // display: inline-block;
    }
    
  .content_left{  
    
    
     li.sidecurrent a {
      border-bottom: 2px solid $gold;
    }
    
    ul li a {
      float: left;
      padding: 10px 0 5px 0;
      margin-right: 10px;
      font-size: 16px;
      display: block;
      text-decoration: none;
      border-bottom: 2px solid $schwarz;
    }
    
    ul li a:hover {
      border-bottom: 2px solid $weinrot;
    }
    
        
    ul.deepness3 li a {
      font-size: 14px;
    //  margin-left: $stdmargin;
      border-bottom: 1px solid $schwarz;
    }
    
    ul.deepness3 li a:hover {
      border-bottom: 1px solid $weinrot;
    }
  }
}