/*
 * SCROLL UP 
 */

.footer .container, .bottom .container, .content .container {
  position: relative;
}

.scrollup {
  position: absolute;
  bottom: 40px;
  right: 5px;
  z-index: 100;
}

.scrollup i {
  font-size: 5em !important;
}

.scrollup a {
    color: $gray1;
    transition: all 0.5s;
}

.scrollup a:hover {
  color: $gray2;
}
