/**
 *   SLIDER OWN DEFINITIONS
 */

.slider {
  color: white;
  text-align: left !important; // BUG TODO Fix
  
  strong {
    padding: 10px;
    font-size: 36px;
    display: inline-block;
    border-bottom: 1px solid $lightgray2;
   // border-right: 1px solid $gray2;
    //@include box-shadow-slider();
    background-color: rgba(51,51,51,0.75);
  }
  span {
    clear: both;
    padding: 10px;
    font-size: $bigger;
    display:inline-block;
    width: auto;
    //border-bottom: 1px solid $gray2;
   // border-right: 1px solid $gray2;
   // @include box-shadow-slider();
    background-color: rgba(51,51,51,0.75);
  }
  
  a {
    color: white;
  }
}

.slider p {
  position: relative;
  top: 140px;  
  left: 10px;
}

/** 
 *   Title Bar Effects
 */

.titlebar {
  h1 {
    padding: 10px;
    margin: 0 !important;
    display: inline-block;
    background-color: rgba(51,51,51,0.75);
  }
  p {
    padding: 10px;
    display: inline-block;
    background-color: rgba(51,51,51,0.75);
  }
}

.titlebar > div {
  position: relative;
  top: 20px;
}
