// VARIABLEN DEFINITIONS

$gray1 : #333333;
$gray2 : #666666;
$lightgray1 : #aaaaaa;
$lightgray2 : #cccccc;
$accent : #006699;

$white : white;
$black : black;

$topfooterheight : 40px;
$menuheight : 120px;
$sliderheight : 400px;
$shortcodesheight : 400px;
$bottomheight : 400px; 

// FONTS

$smaller : 12px;
$small : 14px;
$regular : 16px;
$bigger : 18px;
